<b:style src="header.css"/>
<b:include src="basis.layout.Panel" id="header">
  <b:append>
    <h1>Basis.js tour</h1>
    <div class="buttons">
      <span class="button button-reset button-reset_{hasChanges}" event-click="resetSlide">reset slide</span>
    </div>
  </b:append>
</b:include>