<b:style src="./header.css"/>
<b:isolate/>
<b:define name="hasChanges" type="bool"/>

<b:include src="basis.ui.panel.Panel" class="view">
  <b:append>
    <h1 class="header">Basis.js tour</h1>
    <div class="buttons">
      <span class="button button-reset button-reset_{hasChanges}" event-click="resetSlide">reset slide</span>
      <span class="button" event-click="changeLang">{lang}</span>
    </div>
  </b:append>
</b:include>
