<b:style src="preview.css"/>
<b:include src="basis.layout.Panel" id="preview">
  <b:append>
    <span class="reloaded-label reloaded-label_{reloaded}">Page reloaded</span>
    <iframe{launcher} src="launcher.html" />
  </b:append>
</b:include>