<b:resource src="view.css"/>

<div class="app-slide">
  <div id="navAndContentSide">
    <div id="nav">
      <span event-click="toc">Table of content</span>
      <span event-click="prev">Prev</span>
      <span event-click="next">Next</span>
      {num}/{pageCount}
    </div>
    <div id="description">
      <!--{toc}-->
      {description}
    </div>
  </div>
  <div id="interactiveSide">
    <div id="header">
      Basis.js tour
    </div>
    <div id="files-tabs">
      <!--{files}-->
    </div>
    <div id="code">
      <textarea{editor} id="code-editor" value="{code}" event-keyup="runCode" />
    </div>
    <div id="preview">
      <iframe{launcher} src="launcher.html" />
    </div>
  </div>
</div>