.view
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content
{
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 0 5px 5px;
}
