.app-slide
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#navAndContentSide
{
  float: right;
  position: relative;
  width: 35%;
  height: 100%;
  background: gray;
  min-width: 200px;
  max-width: 50%;
}
#navAndContentSide .Basis-Resizer
{
  height: 100%;
  width: 5px;
  left: -2px;
  top: 0;
}
#description
{
  background: #F0FFF0;
  position: absolute;
  top: 2em;
  margin-top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  overflow: auto;
  line-height: 1.6;
}
#description H2
{
  margin-top: 0;
}
#description I
{
  white-space: nowrap;
  font-style: normal;
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #F8F8F8;
  padding: 0px 3px 1px;
}

#nav
{
  background: #E0E0E0;
  height: 2em;
  padding: 4px;
  overflow: hidden;
    -webkit-user-select: none;
  user-select: none;
}
#nav .button
{
  float: left;
  padding: 4px 8px;
  margin: 0 2px;
  background: #BBB;
  cursor: pointer;
}
#nav .button:hover
{
  background: gold;
}
#slideCounter
{
  font-size: 150%;
  float: right;
}
