<b:resource src="view.css"/>

<div class="app-slide">
  <div{sidebar} id="navAndContentSide">
    <div id="nav">
      <span id="slideCounter">{num}/{slideCount}</span>
      <span class="button" event-click="toc">Table of content</span>
      <span class="button" event-click="prev">Prev</span>
      <span class="button" event-click="next">Next</span>
    </div>
    <div id="description">
      <h2>{title}</h2>
      <!--{description}-->
    </div>
  </div>
  <!--{panels}-->
</div>