
  @import '../templates/editor/style.css';
  @import '../templates/tokenView/style.css';
  @import '../templates/filelist/style.css';

  html,
  body
  {
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: small;
  }

  #Layout,
  .Basis-VerticalPanelStack
  {
    height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }

  #Layout
  {
    padding: 5px;
    background: #E8EAF0;
  }
  .Basis-VerticalPanelStack
  {
    border: 3px solid #C8C8C8;
    background: white;

      -webkit-transition: border-color .5s;
      -moz-transition: border-color .5s;
      -ms-transition: border-color .5s;
    transition: border-color .5s;

      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
    border-radius: 4px;

    overflow: visible;
  }
  .Basis-VerticalPanel
  {
    position: relative;
  }
