
  #Viewer
  {
    overflow: hidden;
    font-family: Consolas;
    float: right;
    margin-left: 5px;
    width: 40%;
    min-width: 200px;
    max-width: 50%;
  }
  #Viewer.focus
  {
    border-color: #ACF;
    background: white;
  }

  #Viewer .Basis-Resizer
  {
    position: absolute;
    top: 0;
    left: -8px;
    bottom: 0;
    width: 5px;
  }

  #Viewer .Basis-Tree,
  #Viewer .Basis-TreeNode-Content
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #Viewer .Basis-Tree
  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
  }

  #Viewer .Basis-TreeNode
  {
    position: relative;
    margin: 0;
    padding: 0;
  }

  #Viewer .Basis-TreeNode.Text .Basis-TreeNode-Caption
  {
    white-space: pre-wrap;
    background: #E8E8E8;
    padding: 2px;
    border-radius: 2px;
  }
  #Viewer .Basis-TreeNode.Text.hasRefs .Basis-TreeNode-Caption
  {
    background: #CDEB8B;
    color: #050;
    text-shadow: 0 1px rgba(255,255,255,.75);
  }

  #Viewer .Basis-TreeNode-Title
  {
    padding: .1em .5em;
    font-size: 90%;
    line-height: 1.6;
    cursor: pointer;
  }

  #Viewer .Basis-TreeNode.selected > .Basis-TreeNode-Title
  {
    background-color: #DEF;
  }

  #Viewer .Basis-TreeNode-Title:hover
  {
    background-color: #EEE;
      -webkit-box-shadow: 0 -1px 3px #AAA;
      -moz-box-shadow: 0 -1px 3px #AAA;
    box-shadow: 0 -1px 3px #AAA;
  }

  #Viewer .Basis-TreeNode-Content .Basis-TreeNode-Title,
  #Viewer .Basis-TreeNode-Content .Basis-TreeNode-Content
  {
    margin-left: -375px;
    padding-left: 400px;
  }

  #Viewer .Basis-TreeNode-Title:hover + .Basis-TreeNode-Content
  {
      -webkit-box-shadow: 0 2px 3px -1px #AAA;
      -moz-box-shadow: 0 2px 3px -1px #AAA;
    box-shadow: 0 2px 3px -1px #AAA;
  }


  #Viewer .Basis-TreeNode.Comment > .Basis-TreeNode-Title
  {
    color: #444;
  }

  #Viewer .Basis-TreeNode-Prefix,
  #Viewer .Basis-TreeNode.Tag > .Basis-TreeNode-Title > .Basis-TreeNode-Caption
  {
    font-weight: bold;
  }


  #Viewer .ReferenceList,
  #Viewer .AttributeList
  {
    display: inline-block;
  }

  #Viewer .ReferenceList
  {
    margin-left: 3px;
    pad2ding-left: 19px;
    bac2kground: url(img/chain.png) left .2em no-repeat;
    color: #050;
    text-shadow: 0 1px rgba(255,255,255,.75);
  }
  #Viewer .Reference
  {
    border-left: 1px solid #050;
    padding: 2px .35em;
    background-color: #CDEB8B;
  }
  #Viewer .Reference:first-child
  {
    border-left: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  #Viewer .Reference:last-child
  {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  #Viewer .AttributeList
  {
    color: #333;
    margin-left: .5em;
  }
  #Viewer .Attribute
  {
    padding: 2px .25em;
    white-space: nowrap;
  }
  #Viewer .AttributeValue
  {
    display: none;
  }
  #Viewer .Attribute.hasValue .AttributeValue
  {
    display: inline;
  }
  #Viewer .Attribute.isEvent
  {
    border-radius: 2px;
    background-color: #FE8;
    color: #530;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
  }
  #Viewer .Attribute.isEvent:hover
  {
    background-color: #FFE000;
    color: #000;
  }


  #Viewer .Field-Edit
  {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #Viewer .Field-Edit .Basis-Field-Title
  {
    display: none;
  }
  #Viewer .Field-Edit .Basis-Field-Container
  {
    height: 100%;
    padding-right: 1px;
  }
  #Viewer .Field-Edit textarea
  {
    display: block;
    margin: 0;
    padding: 2px;
    height: 100%;
    width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
  }

