
  <b:resource src="templateView.css"/>

  <div class="view viewTemplate">
    <h3 class="Content-Header" event-click="scrollTo">
      <span>{title}</span>
    </h3>
    <!-- {viewOptions} -->
    <div{content} class="content">
      <!--{template}-->
    </div>
  </div>