
  .templatePanel
  {
    overflow: hidden;
    clear: both;
    margin-top: 1.5em;
  }
  .templateFile
  {
    display: none;
  }
  .isExternalFile .templateFile
  {
    font-size: 85%;
    text-align: right;
    display: block;
    color: #666;    
    padding: 0 1ex .2em;
  }
  .show-references .templatePanel
  {
    margin-top: 0;
  }
  .templateHtml
  {
    font-family: Consolas, monospace;
    color: #333;
    margin: 0 auto 1em;
    border-radius: 3px;
    background: #F8F8F8;
    padding: 5px;
  }
  .show-references .templateHtml
  {
    background: white;
    margin-right: -6px;
  }
