
  <b:resource src="namespaceNode.css"/>
  
  <div class="ClassNode {empty}">
    <div class="connector"/>
    <div class="ClassNode-Wrapper">
      <div{header} class="ClassNode-Header side-{part}">
        <div class="ClassNode-Header-Title">
          <a href{link}="#{path}">{className}</a>
          <span class="ns">{namespace}</span>
        </div>
      </div>
      <div{container} class="ClassNode-SubClassList">
        <div class="sub-connector"/>
        <div{childNodesElement} class="ClassNode-SubClassList-Wrapper"/>
      </div>
    </div>
  </div>
