
  <b:resource src="namespaceMap.css"/>

  <div class="view ClassMap">
    <h3 class="Content-Header" event-click="scrollTo">
      <span>{title}</span>
    </h3>
    <div class="content">
      <!--{classMap}-->
    </div>
  </div>
