
  <b:resource src="Mark.css"/>

  <div class="Basis-Slider-Mark {last} {range} {selected} {disabled}" style="left: {pos}%; width: {width}%">
    <span class="Basis-Slider-Mark-CaptionWrapper">
      <span class="Basis-Slider-Mark-Caption">
        {text}
      </span>
    </span>
  </div>
