
  <b:style src="./Mark.css"/>
  <b:define name="last" type="bool"/>
  <b:define name="range" type="bool"/>

  <div class="Basis-Slider-Mark {last} {range}" style="left: {pos}%; width: {width}%">
    <span class="Basis-Slider-Mark-CaptionWrapper">
      <span class="Basis-Slider-Mark-Caption">
        {text}
      </span>
    </span>
  </div>
