
  <b:resource src="Slider.css"/>

	<div class="Basis-Slider {isEmptyRange} Basis-Slider-MinMaxOutside {selected} {disabled}" event-mousewheel="focus wheelStep" event-keyup="keyStep" event-mousedown="focus" tabindex="0">
    <div class="Basis-Slider-MinLabel"><span class="caption">{minValue}</span></div>
    <div class="Basis-Slider-MaxLabel"><span class="caption">{maxValue}</span></div>
    <div class="Basis-Slider-ScrollbarContainer" event-click="jumpTo">
  	  <!--{marks}-->
      <div{scrollbar} class="Basis-Slider-Scrollbar">
        <div{valueBar} class="Basis-Slider-ValueBar">
          <div{scrollTrumb} class="Basis-Slider-Thumb"/>
        </div>
        <div{leftBar} class="Basis-Slider-LeftBar"/>
      </div>
    </div>
	</div>
