.node
{
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-top: 12px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.dot
{
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #80A8DA;
  border: 2px solid white;
}
.dot_isSource,
.dot_initial
{
  font-size: 10px;
  line-height: 1;
  text-align: center;
  padding: 5px 0 5px;
  width: 20px;
  height: 10px;
  position: relative;
  top: 0;
  margin-left: 1px;
  margin-right: 5px;
  color: white;
  font-family: arial;
}
.dot_isSource
{
  background: orange;
}
.dot_isSource:before
{
  display: none;
}
.dot_isSource:after
{
  content: 'in';
}
.dot_initial
{
  background: #393;
}
.dot_initial:after
{
  content: 'out';
}
.dot_initial:before
{
  left: 5px;
}

.label
{
  padding: 5px 0;
}
.label_isSource,
.label_initial
{
  padding: 0;
}

.value
{
  display: inline-block;
}
.className
{
  font-size: 10px;
  display: block;
  color: #AAA;
  margin-left: 30px;
  margin-top: -4px;
}
.hasLocation
{
  text-decoration: underline;
  cursor: pointer;
}
.hasLocation:hover
{
  color: #A00;
}
.id
{
  color: black;
}

.transition
{
  margin: 0 0 12px 0;
}
.transition_initial
{
  margin-bottom: 20px;
}
.transition__content
{
  display: inline-block;
  background: rgba(248, 240, 208, 0.75);
  padding: 6px 20px;
  border-radius: 5px;
}
.transition__content_sourceHasLocation
{
  cursor: pointer;
}
.transition__content_sourceHasLocation:hover
{
  background: rgba(248, 240, 208, 0.90);
}

.marker
{
  color: #999;
  margin-left: 1ex;
}
.description
{
  font-size: 11px;
}
.events
{
  background: #E2D9B5;
  margin-left: 1ex;
  padding: 1px 4px 2px;
  border-radius: 3px;
  line-height: 1;
}

.source
{
  white-space: pre;
  font-family: Consolas, Monaco, monospace;
  font-size: 11px;
  line-height: 16px;
  padding-top: 6px;
}
.source [class~="skip-before"],
.source [class~="num"],
.source [class~="skip-after"]
{
  color: #AAA;
}
.source [class~="token-string"]
{
  color: blue;
}
.source [class~="token-comment"]
{
  color: #008200;
}
.source [class~="token-keyword"]
{
  color: #006699;
  font-weight: bold;
}
.source [class~="token-key"]
{
  color: #006699;
}
.source [class~="token-value"]
{
  color: #AA8844;
  font-weight: bold;
}
.source [class~="range"]
{
  background: #F0E8C8;
  padding: 2px 2px 2px 2px;
}

.loc-wrapper
{
  color: #ccc;
  font-size: 11px;
}

.loc
{
  text-decoration: underline;
  cursor: pointer;
  color: #999;
}
.loc:hover
{
  color: #333;
}
