<b:style src="./set.css"/>
<b:isolate/>

<b:include src="./node.tmpl">
  <b:replace ref="value">
    <span class="items">
      <!--{childNodesHere}-->
      <div class="empty" b:show="{empty}">
        empty set
      </div>
      <div class="more" b:show="{hasMoreItems}">
        {hasMoreItems} more...
      </div>
    </span>
  </b:replace>
</b:include>
