
  .Basis-Calendar
  {
    width: 28ex; /* content width must be divisible by 28 (7 segments for month days and 4 segments for monthes, years etc) */
    padding: 0 5px; /* horizontal padding = border-width + content padding */
    font-size: 82%;

      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    user-select: none;
  }

  /*
   * HEADER
   */
  .Basis-Calendar-Header
  {

  }
  .Basis-Calendar-ButtonPrevPeriod,
  .Basis-Calendar-ButtonNextPeriod
  {
    width: 2em;
    padding: .5em 0;
    position: absolute;
    font-weight: bold;
    color: #444;
    top: 0;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  .Basis-Calendar-ButtonPrevPeriod
  {
    left: -3px;
  }
  .Basis-Calendar-ButtonNextPeriod
  {
    right: -3px;
  }
  .Basis-Calendar-ButtonPrevPeriod:hover,
  .Basis-Calendar-ButtonNextPeriod:hover
  {
    color: #0066CC;
  }

  .Basis-Calendar-SectionTabs
  {
    text-align: center;
    padding-top: 4px;
  }

  /*
   * BODY
   */

  .Basis-Calendar-Body
  {
    clear: both;
    border-left: 3px solid #D9E8FB;
    border-right: 3px solid #D9E8FB;
    position: relative;
    line-height: 1 !important;
    height: 12.5em;
    padding-bottom: 4px;
    margin: 0 -5px;
  }
  .Basis-Calendar-Content
  {

  }

  /*
   *  FOOTER
   */

  .Basis-Calendar-Footer
  {
    padding: .4em 2px;
    margin: 0 -5px;
    text-align: center;
    background: white;
    border: 3px solid #D9E8FB;
    border-top-width: 1px;
    border-radius: 0 0 3px 3px;
  }

  .Basis-Calendar-Footer-Date
  {
    
  }
  .Basis-Calendar-Footer-Label
  {
    padding-right: 1ex;
  }
  .Basis-Calendar-Footer-Value
  {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .Basis-Calendar-Footer-Value:hover
  {
    color: #0066CC;
  }
