
  .Basis-Calendar-Node
  {
    color: black;
    text-decoration: none;
    text-align: center;

    display: block;
    float: left;

    cursor: pointer;
  }

  .Basis-Calendar-Node.disabled,
  .Basis-Calendar-Node.disabled:hover
  {
    background: #CCCCCC !important;
    outline: none !important;
    cursor: default !important;
    color: black !important;
  }

  .Basis-Calendar-Node.day:nth-child(7n),
  .Basis-Calendar-Node.day:nth-child(7n + 1)
  {
    background: #F8F8F8;
  }

  .Basis-Calendar-Node.day:hover,
  .Basis-Calendar-Node:hover
  {
    background: #F0F0F0;
  }
  .Basis-Calendar-Node.before,
  .Basis-Calendar-Node.before:hover,
  .Basis-Calendar-Node.after,
  .Basis-Calendar-Node.after:hover
  {
    color: #999999;
  }

  .Basis-Calendar-Node.selected
  {
    background: #D9E8FB !important;
    outline: none;
  }


  /* century, year, month, quater */

  .Basis-Calendar-Section-Century .Basis-Calendar-Node,
  .Basis-Calendar-Section-Year .Basis-Calendar-Node,
  .Basis-Calendar-Section-YearDecade .Basis-Calendar-Node
  {
    width: 25%;
    padding: 1.25em 0;
  }
  .Basis-Calendar-Section-Century .Basis-Calendar-Node
  {
    padding: .75em 0;      
  }
  .Basis-Calendar-Section-YearQuarter .Basis-Calendar-Node
  {
    width: 50%;
    padding: 2.125em 0;
  }
  .Basis-Calendar-Section-Quarter .Basis-Calendar-Node
  {
    width: 100%;
    padding: 1.25em 0;
  }
