
  <b:style src="./Node.css"/>
  <b:style src="./Section-Node.css" ns="sn"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>
  <b:define name="before" type="bool"/>
  <b:define name="after" type="bool"/>
  <b:define name="nodePeriodName" type="enum" values="day month year decade quarter"/>

  <a class="Basis-Calendar-Node sn:node {nodePeriodName} {selected} {disabled} {before} {after}" event-click="click">
    {title}
  </a>
