
  <b:resource src="Section.css"/>
  <b:resource src="SectionMonth.css"/>
  <b:l10n src="../../calendar.l10n"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-Calendar-Section Basis-Calendar-Section-Month {selected} {disabled}">
    <div class="Basis-Calendar-SectionTitle">{title} {year}</div>
    <div{content|childNodesElement} class="Basis-Calendar-SectionContent">
      <div class="Basis-Calendar-MonthWeekDays">
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.mon}</span>
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.tue}</span>
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.wed}</span>
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.thr}</span>
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.fri}</span>
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.sat}</span>
        <span class="Basis-Calendar-MonthWeekDays-Day">{l10n:day2.sun}</span>
      </div>
    </div>
  </div>
  <div{tabElement} class="Basis-Calendar-SectionTab {selected}" event-click="select">
    {tabTitle}
  </div>
