<b:style src="./overlay.css"/>
<b:isolate/>
<b:define name="hide" type="bool"/>

<div class="overlay">
  <div{childNodesElement}
    class="content content_{hide}"
    style="top: -{top}px; left: -{left}px"
  />
</div>
