<b:style src="./token.css"/>
<b:isolate/>

<div
  class="token"
  style="
    top: {top}px;
    left: {left}px;
    width: {width}px;
    height: {height}px;
    background: rgba({bgColor}, .4);
    outline-color: rgba({borderColor}, .75);
  ">
  {updates}
</div>
