.popup
{
  position: absolute;
  padding: 4px 8px;
  margin: 2px 0;
  border: 1px solid #D0C0AA;
  border: 1px solid rgba(0, 0, 0, .4);
  background: white;
  background: rgba(255, 255, 255, .95);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0%, rgba(128, 128, 128, .15) 100%);
  pointer-events: none;
  font-size: 11px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  line-height: 1.5;
  transition: all .05s;
  z-index: 10001 !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
}

.section
{

}

.section__title
{
  font-size: 11px;
  color: #666;
}
.section__title-text
{
  border-bottom: 2px solid #C8D0D8;
}
.section__content
{
  padding: 5px 5px 10px 15px;
}
.name
{
  font-size: 14px;
  color: #28A;
}
.source
{
  color: #888;
  font-size: 11px;
  display: block;
  padding-top: 4px;
  margin-bottom: -1px;
}
.location
{
  color: #282;
}
.ui-hint
{
  display: block;
  color: #AAA;
  font-size: 10px;
}

.culture
{
  background: #EEEECC;
  color: black;
  padding: 2px 4px 3px;
  margin-left: 1ex;
  border-radius: 3px;
  font-size: 10px;
}

.type
{
  background: #EEEECC;
  color: black;
  padding: 2px 4px 3px;
  margin-left: 1ex;
  border-radius: 3px;
  font-size: 10px;
}
