<footer id="footer" b:hide="{hidden}">
  <span id="todo-count">
    <strong>{active}</strong> {l10n:itemsLeft.{active}}
  </span>
  <!--{filters}-->
  <button id="clear-completed" b:show="{completed}" event-click="clearCompleted">
    Clear completed ({completed})
  </button>
</footer>
