<b:define name="completed" type="bool"/>

<footer id="footer" b:show="{completed}{active}">
  <span id="todo-count">
    <strong>{active}</strong> {l10n:itemsLeft.{active}} left
  </span>
  <!--{filters}-->
  <button id="clear-completed" b:show="{completed}" event-click="clearCompleted">
    Clear completed ({completed})
  </button>
</footer>
