.token
{
  position: absolute;
  z-index: 65000;
  box-sizing: border-box;
  background: rgba(100, 200, 100, .25);
  border: 1px solid rgba(50, 150, 50, .4);
  overflow: hidden;
  line-height: 12px;
  font-size: 9px;
  font-family: Tahoma, Verdana, sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.problem
{
  background-color: rgba(255, 100, 100, .25);
  border-color: rgba(200, 100, 100, .4);
}

.caption
{
  white-space: nowrap;
  padding: 2px 3px;
  background: rgba(50, 150, 50, .4);
  color: white;
}
.caption_problem
{
  background: rgba(200, 100, 100, .4);
}
