.content
{
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  max-width: 650px;
  padding: 0;
}
.toolbar
{
  padding-bottom: 1px;
}
.header
{
  font-size: 12px;
  padding: 3px 3ex;
  margin-right: 60px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.source-title
{
  color: #666;
}
.source-title_isFile
{
  cursor: pointer;
  text-decoration: underline;
}
.source-title_isFile:hover
{
  color: #A00;
}
.warnings
{
  padding-left: 18px;
  background: url(warning.png) no-repeat left center;
  min-height: 16px;
  display: inline-block;
  color: #A82;
}
.button
{
  background: #EEE;
  padding: 3px 8px;
  line-height: 1.2;
  font-size: 12px;
}
.up-buttons
{
  display: inline-block;
  margin-left: -6px;
  float: left;
}
.button_up
{
  padding-left: 6px;
  margin-right: 3px;
  display: inline-block;
  cursor: pointer;
}
.button_up:hover
{
  background: #DDD;
}

.code
{
  padding: 4px 0 2px;
  clear: both;
  overflow: hidden;
  white-space: pre-wrap;
  color: #444;
  font-family: Consolas, Monaco, Courier New, monospace;
  font-size: 12px;
  line-height: 22px;
}
