.view
{
  transition: all .5s 2s;
}
.view_disconnected
{
  pointer-events: none;
  opacity: .25;
  -webkit-filter: grayscale();
  filter: grayscale();
}

.main
{
  display: flex;
  padding: 5px 10px 10px;
}

.no-subject
{
  color: #AAA;
  text-align: center;
  font: 20px Arial;
  padding: 40px;
}

.source-toggle-button
{
  background: #CCC;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}
