.layout
{
  position: absolute;
  /*z-index: 10001;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
}
.main
{
  display: flex;
  padding: 5px 10px 10px;
}

.no-subject
{
  color: #AAA;
  text-align: center;
  font: 20px Arial;
  padding: 40px;
}

.source-toggle-button
{
  background: #CCC;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}
