{
  "server": {
    "port": 8123
  },
  "plugins": [
    {
      "name": "basisjs-tools-instrumenter",
      "target": "server",
      "ignore": [
        "build/**",
        "test/*.js",
        "test/**/*.js",
        "node_modules/**"
      ],
      "options": {
        "blackbox": [
          "/src/*",
          "/src/**"
        ]
      }
    }
  ]
}
