{
  "server": {
    "port": 8123
  },
  "build": {
    "ignoreWarnings": [
      "/src/basis/ui/templates/highlight/SourceCode.css"
    ],
    "preset": {
      "devtool": {
        "file": "src/devpanel/standalone/index.html",
        "output": "dist",
        "jsBundle": true,
        "jsBundleName": "devtool"
      }
    }
  },
  "plugins": [
    {
      "name": "basisjs-tools-instrumenter",
      "target": "server",
      "ignore": [
        "build/**",
        "test/*.js",
        "test/**/*.js",
        "node_modules/**"
      ],
      "options": {
        "blackbox": [
          "/src/*",
          "/src/**"
        ]
      }
    }
  ]
}
