
  <b:style src="./Body.css"/>
  <b:style src="./Body-Row.css" ns="br"/>
  <b:define name="collapsed" type="bool"/>

  <tbody class="Basis-Table-Body Basis-Table-Body__{collapsed} br:{collapsed}">
    <tr class="Basis-Table-GroupHeader" event-click="toggle">
      <td{content} colspan="100">
        <span class="expander"/>
        <span class="Basis-Table-GroupHeader-Title">{title}</span>
      </td>
    </tr>
    <!--{childNodesHere}-->
  </tbody>
