
  <b:resource src="FooterCell.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <td{content} class="Basis-Table-Footer-Cell {selected} {disabled}" colspan="{colSpan}">
    {value}
  </td>
