
  <b:resource src="HeaderCell.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>
  <b:define name="sortable" type="bool"/>

  <th class="Basis-Table-Header-Cell Basis-Table-Header-Cell-{sortable} {selected} {disabled}" event-click="setColumnSorting">
    <div class="Basis-Table-Header-Cell-SortDirection"/>
    <div class="Basis-Table-Header-Cell-Content"> 
      <span class="Basis-Table-Header-Cell-Title">
        {title}
      </span>
    </div>
  </th>
