
  <b:style src="./HeaderCell.css"/>
  <b:style src="./Header-HeaderCell.css" ns="hhc"/>
  <b:define name="selected" type="bool"/>
  <b:define name="sortable" type="bool"/>

  <th class="Basis-Table-Header-Cell Basis-Table-Header-Cell-{sortable} {selected}" event-click="setColumnSorting">
    <div class="Basis-Table-Header-Cell-SortDirection hhc:Basis-Table-Header-Cell-SortDirection__{selected}"/>
    <div class="Basis-Table-Header-Cell-Content"> 
      <span class="Basis-Table-Header-Cell-Title">
        {title}
      </span>
    </div>
  </th>
