
  <b:define name="disabled" type="bool"/>
  <b:define name="order" type="enum" values="desc asc"/>

  <thead{groupRowsElement} class="Basis-Table-Header {disabled}">
    <tr{childNodesElement} class="sort-order-{order}"/>
  </thead>
