  <b:style src="./Header-HeaderCell.css" ns="hhc"/>
  <b:define name="order" type="enum" values="desc asc"/>

  <thead{groupRowsElement}>
    <tr{childNodesElement} class="hhc:sort-order-{order}"/>
  </thead>
