
  <b:define name="disabled" type="bool"/>
  <b:define name="order" type="enum" values="desc asc"/>

  <thead{groupsElement} class="Basis-Table-Header {disabled}">
    <tr{childNodesElement|content} class="sort-order-{order}"/>
  </thead>
