
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <th class="Basis-Table-Header-Cell {selected} {disabled}" colspan="{colSpan}">
    <div class="Basis-Table-Header-Cell-SortDirection"/>
    <div class="Basis-Table-Header-Cell-Content"> 
      <span class="Basis-Table-Header-Cell-Title">
        {title}
      </span>
    </div>
  </th>
