
  .Basis-Table-Header-Cell
  {
    padding: 0 !important; /* IMPORTANT: cell must has no padding */
    margin: 0;
    border: none;
    border-bottom: 1px solid white;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    background-repeat: repeat-x;
    background-image: url(res/bg.gif);
    background-color: #F1F2F4;
    white-space: nowrap;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
  }
  .Basis-Table-Header-Cell-Content
  {
    height: 100%;
    margin: -8px 0 0 0;
    padding-left: 1px;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    background: url(res/hline_left.gif) no-repeat left top;
  }
  .Basis-Table-Header-Cell-Title
  {
    display: block;
    padding: 3px .5em 3px .4em;
    background: url(res/hline_right.gif) no-repeat right top;
    margin-right: -1px;
  }
  .Basis-Table-Header-Cell-SortDirection
  {
    height: 8px;
    width: 8px;
    margin: 0 auto;
  }


  /*
   * selected
   */
  .Basis-Table-Header-Cell_selected
  {
    background-color: #D8ECF6;
    background-image: url(res/selected_bg.gif);
  }
  .Basis-Table-Header-Cell_selected .Basis-Table-Header-Cell-Content
  {
    background-image: none;
    border-color: #96D9F9;
    border-left: 1px solid #96D9F9;
    padding-left: 0;
  }
  .Basis-Table-Header-Cell_selected .Basis-Table-Header-Cell-Title
  {
    background-image: none;
  }
  .Basis-Table-Header-Cell-SortDirection
  {
    background: no-repeat center center;
  }
