
  <b:resource src="Row.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <tr class="Basis-Table-Row {selected} {disabled}" event-click="select">
    <!--{cells}-->
  </tr>
