
  <b:resource src="Table.css"/>

  <table{groupsElement} class="Basis-Table {selected} {disabled}" cellspacing="0">
    <!--{header}-->
    <tbody{content|childNodesElement} class="Basis-Table-Body"/>
    <!--{footer}-->
  </table>
