
  .Basis-SyntaxHighlight
  {
    border: 1px solid #E0E0E0;
    padding: 1px;
    margin: 0 1ex;
    overflow: hidden;

    font-family: Consolas, monospace;
    font-size: 100%;
    line-height: 1.4em;
    white-space: pre;   /* на случай если основной блок не <PRE> */
  }

  .Basis-SyntaxHighlight .line
  {
    position: relative; /* для webkit, иначе при начале выделения с нумерации будет
                             выделяться текст с самого начала блока */
    zoom: 1;            /* для IE6/7 */
    /*white-space: pre;*/   /* важно чтобы сохранялись переносы в IE7 */

    background: #F0F0F0;
  }

  .Basis-SyntaxHighlight .even
  {
    background-color: #F8F8F8;
  }
  /*.Basis-SyntaxHighlight .line:hover
  {
    background: #DDD;
  }*/

  .Basis-SyntaxHighlight .lineNumber
  {
    position: absolute;
    left: 0;

    padding: 0 .5ex;
    margin: 0;
    width: 6ex;
    line-height: 1.4em;
    height: 1.4em;

    background: none;
    border: none;
    font-family: Consolas, monospace;
    font-size: 100%;
    text-align: right;
    color: #666;

      -moz-user-select: none;    /* задаем user-select для Firefox & webkit, чтобы блок не попадал в область выделения*/
      -webkit-user-select: none;
    user-select: none;
    pointer-events: none;        /* фактически это свойство делает ненужным блок .over, 
                                    но пока оно поддерживается только в Firefox & webkit */
  }

  .Basis-SyntaxHighlight .over
  {
    display: block;
    position: absolute;
    left: 0;
    width: 7ex;
    height: 1.4em;
    z-index: 1;
    background: url(data:image/png;base64,);  /* для IE и Opera, иначе блок будет "простреливаться"
                                                 (пропускать события мыши нижележащим блокам) */
  }

  .Basis-SyntaxHighlight .lineContent
  {
    padding-left: 1ex;
    padding-right: 1ex;
    border-left: 2px solid #33BB66;
    display: block;
    white-space: pre-wrap;      /* сохраняем форматирование, но оставляем возможность переносить по словам */
  }

  .Basis-SyntaxHighlight .hasLineNumber .lineContent
  {
    margin-left: 7ex;
    padding-left: 2.5ex;
  }

  .Basis-SyntaxHighlight .token-string
  {
    color: blue;
  }
  .Basis-SyntaxHighlight .token-comment 
  {
    color: #008200;
  }
  .Basis-SyntaxHighlight .token-keyword
  {
    color: #006699;
    font-weight: bold;
  }
  .Basis-SyntaxHighlight .token-key
  {
    color: #006699;
  }
  .Basis-SyntaxHighlight .token-value
  {
    color: #AA8844;
    font-weight: bold;
  }
