<p>Все базовые визуальные компоненты в basisjs являются экземплярами класса <i>basis.ui.Node</i> и его потомков.</p>
<p>Для того чтобы начать использовать этот класс необходимо подключить область имен <i>basis.ui</i> конструкцией <i>basis.require('basis.ui')</i>.</p>
<p>Большую часть возможностей <i>basis.ui.Node</i> наследует от своего родительского класса &mdash; <i>basis.dom.wrapper.Node</i>. По сути <i>basis.ui.Node</i> &mdash; это <i>basis.dom.wrapper.Node</i> "скрещенный" с шаблоном. Но последний не имеет визуального представления, поэтому их общие возможности мы показываем в секции UI.</p>
<p>Создавая новый класс от <i>basis.ui.Node</i> или их экземпляр, мы можем указать шаблон, который будет использоваться. Базовый шаблон <i>basis.ui.Node</i> - это пустой элемент <i>&lt;div&gt;</i>.</p>
<p>Каждый экземпляр <i>basis.ui.Node</i> имеет ссылку <i>element</i> на корневой узел шаблона. На практике вам редко прийдется иметь с этим дело, но для данной демонстрации нам нужно увидеть результат, поэтому мы добавляем <i>element</i> в тело документа, чтобы увидеть результат.</p>
<p>Данный пример выглядит сложным, но в нем все описано явно. На следующем слайде мы увидим как можно сделать проще.</p>