<p>Одной из важных возможностей экземпляра <i>basis.ui.Node</i> является возможность привязки набора данных (dataset) к нему.</p>
<p>Для связи компонента с набором используется свойство <i>dataSource</i> при создании экземпляра и метод setDataSource после. При этом методы манипуляции дочерними узлами (<i>appendChild</i>, <i>insertBefore</i>, <i>removeChild</i>, <i>replaceChild</i>, <i>setChildNodes</i>, <i>clear</i>) теряют функциональность. Если их вызвать, то будет выброшено исключение. Всю работу по добавлению и удалению узлов берет на себя набор. Технически экземпляр <i>basis.ui.Node</i> для которого задано свойство <i>dataSource</i>, слушает изменения в привязанном наборе и синхронизирует состав своих дочерних узлов с ним.</p>
<p>При синхронизации с набором используются свойства <i>childClass</i> и <i>childFactory</i> для создания дочерних узлов. Так как элементы набора являются экземплярами <i>basis.data.Object</i>, то они выступают в роли делегатов у создаваемых узлов. Таким образом дочерние узлы разделяют данные и состояние с элементами набора.</p>
<p>Наборы неупорядочены, поэтому порядок дочерних узлов неопределен. Для упорядочивания используется сортировка у экземпляра <i>basis.ui.Node</i>.</p>
