#code-editor
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#code-editor .CodeMirror
{
  height: 100%;
  font-family: Monaco, Consolas, monospace;
  line-height: 1.35;
}

#code-editor .CodeMirror-lines
{
  padding: 4px 2px;
}