#code-editor
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: none;
  resize: none;
  padding: 8px 8px 8px 14px;
  background: rgba(255,255,0,.25);
  outline: none;
  font-family: Monaco, Consolas, monospace;
}