<b:style src="codemirror:style.css" />
<b:style src="./editor.css" />
<b:style src="./theme-monokai.css" />

<div class="slide-code-editor-wrapper">
  <div class="slide-code-editor">
    <!--{editor}-->
  </div>
</div>
