
  <b:resource src="prototypeMapPopupPanel.css"/>

  <div class="PrototypeMapPopupPanel">
    <div class="PrototypeMapPopupPanel-Input"><!--{matchInput}--></div>
    <div{childNodesElement} class="PrototypeMapPopupPanel-Content"/>
  </div>