
  <b:resource src="searchInput.css"/>

  <div class="App-SearchPanel {empty}" title="{error}">
    <div class="App-SearchPanel-Input">
      <b:include src="../../../../src/basis/ui/templates/field/native-type-text.tmpl"/>      
    </div>
    <div class="App-SearchPanel-ClearButton" event-click="clear">x</div>
  </div>
