
  <section id="main">
    <input id="toggle-all" type="checkbox" checked="{noActive}" event-click="toggle" />
    <label for="toggle-all">Mark all as complete</label>
    <ul{childNodesElement} id="todo-list" />
  </section>
