
  <li class="Basis-TreeNode">
    <div{content} class="Basis-TreeNode-Title {selected} {disabled} fileType-{fileType}">
      <span{titleElement} class="Basis-TreeNode-Caption" event-click="select">
        <span class="devtools-fileNode-{modified}"/>
        {title}
      </span>
    </div>
  </li>