
  #TemplateList
  {
    overflow: visible;
    float: left;
    margin-right: 5px;
    width: 15%;
    /*  -webkit-transition: width .5s, opacity 1.5s; 
    transition: width .5s, opacity 1.5s;*/
  }
  #TemplateList.focus
  {
    border-color: #ACF;
    background: white;
  }
  #TemplateList.not-active
  {
    width: 0;
    min-width: 0;
    opacity: 0;
  }

  #TemplateList .devtools-fileNode-modified
  {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 20px;
    background: url(../../img/modified.png) no-repeat center;
  }


  #TemplateList .Basis-Resizer
  {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    width: 5px;
  }

  #TemplateList .devtools-templateFileList
  {
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    outline: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #TemplateList .fileType-tmpl .Basis-TreeNode-Caption
  {
    background-image: url(../../img/file-tmpl.png);
  }