
  HTML,
  BODY
  {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;

    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: small;
  }

  #Layout
  {
    position: relative;
    height: 100%;
  }

  #Sidebar
  {
    position: relative;
    width: 340px;
    height: 100%;
    float: left;
    border-right: 1px solid #888;
  }

  #Toolbar
  {
    background: #F0F0F0;
    border-bottom: 1px solid #E0E0E0;
  }

  /*
   * Sidebar
   */

  #Sidebar .Basis-PageControl,
  #Sidebar .Basis-Page
  {
    border: none;
    padding: 0;
    height: 100%;
  }

  #SearchTree
  {
    padding-left: 2px;
  }
  #SearchTree .Basis-TreePartitionNode-Title
  {
    margin-left: 4px !important;
  }

  /*
   *  View
   */

  #Content
  {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  #Content H2
  {
    font-family: Arial;
    font-size: 120%;
    margin: 0 0 1em 0;
    padding-top: 4px;
    padding-left: 44px;
    background: no-repeat 4px 4px;
    min-height: 40px;
  }
  #Content H2.kind-class     { background-image: url(img/node_class_big.png)    }
  #Content H2.kind-property  { background-image: url(img/node_property_big.png) }
  #Content H2.kind-object    { background-image: url(img/node_property_big.png) }
  #Content H2.kind-function  { background-image: url(img/node_function_big.png) }
  #Content H2.kind-method    { background-image: url(img/node_function_big.png) }
  #Content H2.kind-namespace { background-image: url(img/node_module_big.png)   }
  #Content H2.kind-constant  { background-image: url(img/node_const_big.png)    }
  #Content H2.kind-event     { background-image: url(img/node_event.png)    }

  #Content H2 SPAN
  {
    display: block;
  }
  #Content H2 .path
  {
    color: #888;
    font-size: 70%;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
  }

  #Content H3
  {
    font-size: 100%;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    margin: 0;
    padding: 0;
    background: white;
  }
  #Content H3 SPAN
  {
    display: block;
    padding: .25em 1ex;
    line-height: 1.2em;
  }

  #Content .viewTitle
  {
    margin: 5px 0 0 5px;
  }


  #Content .content
  {
    border-top: 1px solid #888;
    padding: 1em 1ex 2em 2ex;
  }


  /*********************************/

  .QuickNavBar
  {
    border-bottom: 1px solid #888;
  }
  #ContentHeader
  {
    background-image: -webkit-linear-gradient(top, rgba(220, 220, 220, 0) 60%, rgba(220, 220, 220, .8));
  }
  #ContentHeader .Basis-Button
  {
    margin: .2em 0 .5em 1.2ex;
  }
  #ContentHeader .Basis-Button-Back
  {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .XControl-Content
  {
  }

    .XControlHeader
    {
      position: absolute;
      left: 0; 
      right: 17px;
      top: 4em;
      z-index: 10;
      border-bottom: 1px solid #888;
    }
    .XControlFooter
    {
      position: absolute;
      left: 0; 
      right: 17px;
      bottom: 0;
      z-index: 10;
    }

  .Content-Header
  {
    position: relative;
    top: -1px;
    cursor: pointer;
    border-top: 1px solid #888;
    background: #F0F0F0 url(img/tab_bg_bottom.png?2) repeat-x left bottom !important;
    overflow: hidden;
    line-height: 1em;
    padding: 0 !important;
  }
  .Content-Header SPAN
  {
    display: block;
    line-height: 1em !important;
    height: 1em !important;
    overflow: hidden;
    padding: 1px 1ex 2px 14px !important;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: url(img/tab_bg_top.png?1) repeat-x 0 -2px;
    font-family: Consolas, Courier New, monospace;
  }

  .Basis-SyntaxHighlight
  {
    margin: 0 !important;
  }

