
  <b:style src="./Form.css"/>

  <form{form} class="Basis-Form"
     method="{method}"
     action="{action}"
     target="{target}"
     enctype="{enctype}"
     event-submit="validate">
    <b:include src="./FormContent.tmpl" />
  </form>
