
  {resource:FormContent.css}

  <form{formElement} class="Basis-Form {disabled}"
     method="{method}"
     action="{action}"
     target="{target}"
     enctype="{enctype}"
     event-submit="submit">
    <div{content|childNodesElement} class="Basis-FormContent" />
  </form>
