
  <b:resource src="FormContent.css"/>
  <b:define name="disabled" type="bool"/>

  <form{form} class="Basis-Form {disabled}"
     method="{method}"
     action="{action}"
     target="{target}"
     enctype="{enctype}"
     event-submit="validate">
    <div{content|childNodesElement} class="Basis-FormContent" />
  </form>
