<b:style src="./Scrollbar.css"/>
<b:define name="orientation" type="enum" values="horizontal vertical"/>

<div class="Basis-Scrollbar {orientation}">
  <div{trackElement} class="Basis-Scrollbar-Track"></div>
</div>
