<b:resource src="Scrollbar.css"/>
<b:define name="selected" type="bool"/>
<b:define name="disabled" type="bool"/>
<b:define name="orientation" type="enum" values="horizontal vertical"/>

<div class="Basis-Scrollbar {selected} {disabled} {orientation}">
  <div{trackElement} class="Basis-Scrollbar-Track"></div>
</div>