
  {resource:ScrollPanel.css}

  <div class="Basis-ScrollPanel {scrollProcess} {bothScrollbars}" event-mousewheel="onwheel">
    <div{scrollElement|childNodesElement|content} class="Basis-ScrollPanel-Content {selected} {disabled}"/>
    <!--{horizontalScrollbar}-->
    <!--{verticalScrollbar}-->
  </div>
