<b:style src="./ScrollPanel.css"/>
<b:style src="./ScrollPanel-Scrollbar.css" ns="ss"/>
<b:define name="scrollProcess" type="bool"/>
<b:define name="bothScrollbars" type="bool"/>

<div class="Basis-ScrollPanel ss:{scrollProcess} ss:{bothScrollbars}" event-mousewheel="onwheel">
  <div{scrollElement|childNodesElement|content} class="Basis-ScrollPanel-Content"/>
  <!--{horizontalScrollbar}-->
  <!--{verticalScrollbar}-->
</div>
