<b:resource src="ScrollPanel.css"/>
<b:define name="selected" type="bool"/>
<b:define name="disabled" type="bool"/>
<b:define name="scrollProcess" type="bool"/>
<b:define name="bothScrollbars" type="bool"/>

<div class="Basis-ScrollPanel {scrollProcess} {bothScrollbars}" event-mousewheel="onwheel">
  <div{scrollElement|childNodesElement|content} class="Basis-ScrollPanel-Content {selected} {disabled}"/>
  <!--{horizontalScrollbar}-->
  <!--{verticalScrollbar}-->
</div>
