
  <b:style src="./ScrollGalleryItem.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-ScrollGalleryItem {selected} {disabled}" event-click="select"/>