.Devpanel-FileView
{
  color: black;
  height: 100%;
  overflow-y: auto;
  background: #F1F1F1;
  position: relative;
}

.Devpanel-FileView-Title
{
  font-size: 1.2em;
  margin-bottom: 1em;
}

.Devpanel-FileView .Basis-SyntaxHighlight
{
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible;
}

.Devpanel-FileView-Splash
{
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -1em;

  text-align: center;
  color: #999;
  text-shadow: 0 1px 0 white;
}


.Devpanel-FileView-Code,
.Devpanel-FileView_hasCode .Devpanel-FileView-Splash
{
  display: none;
}

.Devpanel-FileView_hasCode .Devpanel-FileView-Code
{
  display: block;
}

