<b:style src="fileView.css"/>
<b:define name="hasCode" type="bool"/>
<div class="Devpanel-FileView Devpanel-FileView_{hasCode}">
  <div class="Devpanel-FileView-Code">
    <!--{code}-->
  </div>
  <div class="Devpanel-FileView-Splash">
    <span>Pick a file in the sidebar to see its content.</span>
  </div>
</div>