<b:style src="../codemirror/codemirror.css" />
<b:style src="../codemirror/theme-material.css" />
<b:style src="./editor.css" />

<div class="slide-code-editor-wrapper">
  <div class="slide-code-editor">
    <!--{editor}-->
  </div>
</div>
