
  <b:resource src="inheritanceGroup.css"/>

  <div class="Basis-PartitionNode">
    <div class="Basis-PartitionNode-Title">
      <a href="#{title}">{title}</a>
    </div>
    <div class="Basis-PartitionNode-Content">
      <!--{childNodesHere}-->
    </div>
  </div>
