
  <b:resource src="inheritanceItem.css"/>
  
  <li class="item">
    <div{content} class="title {absent}">
      <a href="#{fullPath}">{className}</a>
      <span class="tag tag-{tag}">{tag}</span>
    </div>
    <span class="namespace">{namespace}</span>
    <ul{childNodesElement}/>
  </li>