<p>В basisjs интерфейс базируется на парадигме <i>DOM</i>.</p>
<p>Экземпляры <i>basis.ui.Node</i> могут вкладываться в друг друга. Весь интерфейс это дерево экземпляров <i>basis.ui.Node</i> и его потомков.</p>
<p>Шаблоны не имеют циклов. Список и каждый элементы списка &mdash; это отдельные объекты, экземпляры <i>basis.ui.Node</i>. Для списка и его элементов, задаются отдельные шаблоны. Технически любой экземпляр <i>basis.ui.Node</i> является списком, и он определяет куда будут вставляться дочерние элементы. Точка вставки определяется в его шаблоне.</p>
<p>Для задания списка дочерних узлов при создании узла используется свойство <i>childNodes</i>. После создания возможно управлять дочерними узлами, используя методы <i>appendChild</i> и <i>insertBefore</i> для добавления узла, и метод <i>removeChild</i> &mdash; для удаления. Так же есть методы для полного задания списка дочерних узлов &mdash; <i>setChildNodes</i>, и метод для полной очистки &mdash; <i>clear</i>.</p>
