.window__wrapper
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  white-space: nowrap;
  z-index: 10001;
  transform: translateZ(0);
  background: rgba(0, 0, 0, .2);
  overflow: auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
}
.window__wrapper:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.window
{
  /* vertical center */
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.window_app
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.window__inner-wrapper
{
  text-align: left;
  display: inline-table;
  font-size: 12px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
.window__inner-wrapper_app
{
  display: block;
}
.window__inner
{
  overflow: auto;
  padding: 4px 8px;
  background: white;
  background: rgba(255, 255, 255, .95);
  border-radius: 2px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .3);
}
.window__inner_app
{
  padding: 5px 10px 10px;
  border-radius: 0;
  box-shadow: none;
}

.source-toggle-button
{
  background: #EEE;
  margin-top: 8px;
  padding: 6px;
  border-radius: 2px;
  opacity: .8;
  cursor: pointer;
}
.source-toggle-button:hover
{
  opacity: 1;
}

@supports (display:flex) {
  .window__inner
  {
    display: flex;
  }
}
