<b:style src="./window.css"/>
<b:isolate/>
<b:define name="mode" type="enum" values="app"/>

<div class="window__wrapper" event-click="close" event-mousedown="stop-propagation prevent-default" basis-devpanel-ignore>
  <div{ddelement|ddtrigger} class="window window_{mode}">
    <div class="window__inner-wrapper window__inner-wrapper_{mode}" event-click="stop-propagation">
      <div class="window__inner window__inner_{mode}">
        <b:include src="./sidebar.tmpl" isolate/>
        <b:include src="./content.tmpl" isolate/>
      </div>
    </div>
    <div class="source-toggle-button" event-click="toggleSource">
      {l10n:sourceToggle.{showSource}}
    </div>
    <span b:show="{showSource}">
      <!--{source}-->
    </span>
  </div>
</div>
