.item
{
  position: relative;
  padding-left: 1em;
  text-indent: 16px;
}
.flag
{
  position: absolute;
  top: .7em;
  left: .5em;
  width: 16px;
  height: 11px;
  background: url(img/flags.png) no-repeat .5em 0;
}
