<b:style src="./cultureItem.css"/>

<b:include src="app.menu.Item">
  <b:before ref="title">
    <span class="flag" style="background-position: -{spriteX}px -{spriteY}px"/>
  </b:before>
</b:include>
