<b:style src="./panel.css"/>
<b:isolate/>
<b:define name="activated" type="bool"/>
<b:define name="isOnline" type="bool"/>
<b:define name="inspectMode" type="bool"/>
<b:define name="templateActivated" from="inspectorId" type="enum" values="template"/>
<b:define name="l10nActivated" from="inspectorId" type="enum" values="l10n"/>
<b:define name="heatMapActivated" from="inspectorId" type="enum" values="heatmap"/>
<b:define name="rolesActivated" from="inspectorId" type="enum" values="roles"/>
<b:define name="gridActivated" from="inspectorId" type="enum" values="grid"/>

<div class="panel panel_{activated} panel_{isOnline} panel_{inspectMode}"
  basis-devpanel-ignore
  event-mousemove="storePosition">
  <div{dragElement} class="panel__dd-trigger">&nbsp;</div>
  <div class="panel__section">
    <div class="panel__button panel__button_template panel__button_active-{templateActivated}" event-mousedown="inspectTemplate">&nbsp;</div>
    <div{themeButton} class="panel__button" event-click="showThemes">
      {themeName}
    </div>
    <!--{themeList}-->
  </div>
  <div class="panel__section">  
    <div class="panel__button panel__button_l10n panel__button_active-{l10nActivated}" event-mousedown="inspectl10n">&nbsp;</div>
    <div{cultureButton} class="panel__button" event-click="showCultures">
      {cultureName}
    </div>
    <!--{cultureList}-->
  </div>
  <div class="panel__section">
    <div class="panel__button panel__button_active-{heatMapActivated}" event-mousedown="inspectHeat">
      Heat map
    </div>
  </div>
  <div class="panel__section">
    <div class="panel__button panel__button_active-{rolesActivated}" event-mousedown="inspectRoles">
      Roles
    </div>
  </div>
  <div class="panel__section" b:show="{grid}">
    <div class="panel__button panel__button_active-{gridActivated}" event-mousedown="inspectGrid">
      Grid: {grid}
    </div>
  </div>
  <!-- <div class="panel__section panel__section_FileInspector">
    <div class="panel__button fileInspector" event-click="inspectFile">&nbsp;</div>
  </div> -->
  <div class="info-panels">
    <b:include src="./reloadRequired.tmpl" isolate/>
    <b:include src="./inspectMode.tmpl" isolate/>
  </div>
</div>
