<b:style src="./resizer.css"/>
<b:define name="hovered" type="bool"/>
<b:define name="selected" from="hovered" type="bool"/>

<div class="Basis-Resizer {selected} {hovered}" style="cursor: {cursor}" />
