<b:style src="./item.css"/>
<b:isolate/>

<li class="item" event-click="select">
  <a class="link" href="{url}">
    <img class="image" src="{imageUrl}" width="100" height="75" event-error="setDefaultImage"/>
    <span class="title">{title}</span>
  </a>
</li>
