<b:style src="./source.css"/>

<div id="sourceCode">
  <div id="sourceCodeTrigger" event-click="toggleCode">{l10n:toggle.{sourceVisible}}</div>
  <div{code} id="sourceCodeContent" b:show="{sourceVisible}" class="Basis-SyntaxHighlight">
  </div>
</div>
