<b:style src="./source.css"/>
<b:isolate/>

<div class="view">
  <div class="toggler" event-click="toggleCode">{l10n:toggle.{sourceVisible}}</div>
  <div{code} b:show="{sourceVisible}" class="Basis-SyntaxHighlight"/>
</div>
