<b:style src="./file-stat.css" />
<b:isolate/>
<b:define name="noSelected" type="bool"/>

<div class="file-stat">
  <div class="header">File type statistics</div>
  <!--{childNodesHere}-->
  <!--{activatedFiles}-->
  <!--{allFiles}-->
</div>
