<div style="
  position: absolute;
  transition: all .05s;
  z-index: 10000;
  background: rgba(110, 163, 217, .7);
  pointer-events: none;
  top: {top}px;
  left: {left}px;
  width: {width}px;
  height: {height}px;
"/>
