.view
{
  padding: 4px;
  transition: all .5s 2s;
}
.view_disconnected
{
  pointer-events: none;
  opacity: .25;
  -webkit-filter: grayscale();
  filter: grayscale();
}
.header
{
  color: #666;
  font-size: 11px;
  padding-bottom: 4px;
  text-align: right;
}
