<p>Благодаря механизму авто-расширения, мы можем упростить код предыдущего слайда. Экземпляры <i>basis.template.html.Template</i> имеют метод <i>__extend__</i>. В случае значения будет выступать экземпляр класса <i>basis.template.html.Template</i>, то все произойдет без изменений. В противном случае будет создан новый шаблон (экземпляр <i>basis.template.html.Template</i>), у которого источником будет заданное значение.</p>
<p>Так же при создании экземпляра <i>basis.ui.Node</i> можно задать свойство <i>container</i>, это ссылка на элемент, в который должен быть вставлен корневой элемент шаблона после создания.</p>