
  <li class="Basis-TreeNode">
    <div{content} class="Basis-TreeNode-Title Type-{kind} {selected} {disabled}">
      <span class="Basis-TreeNode-Caption Basis-TreeNode-Caption__{disabled} Basis-TreeNode-Caption__{selected}" event-click="select">
        <span class="namespace">{namespace}</span>
        <span class="label">{title}<!--{args}--></span>
      </span>
    </div>
  </li>
