<b:resource src="targetHeader.css" />

<div class="viewHeader viewHeader__{hasTarget}">
  <h2 class="view viewTitle kind-{kind}">
    <span class="title">{title}</span>
    <span class="path">{path}</span>
  </h2>
  <div{childNodesElement} class="QuickNavBar"/>
</div>