<b:style src="targetContentEmpty.css"/>
<div id="welcome-page">
  <h1>{l10n:header}</h1>
  {l10n:intro.text}

  <h2>{l10n:main.header}</h2>
  {l10n:main.text}

  <h2>Что стоит посмотреть</h2>
  <p>На данный момент документация все еще оставляет желать лучшего. Поэтому мы приводим примеры интересных статей, чтобы оценить возможности приложения:</p>
  <ul>
    <li><a href="#basis.data.dataset" class="namespace">basis.data.dataset</a></li>
    <li><a href="#basis.ui.tree" class="namespace">basis.ui.tree</a></li>    
    <li><a href="#basis.ui.tree.Folder" class="class">basis.ui.tree.Folder</a></li>
  </ul>
</div>