<b:style src="./code.css"/>
<b:style src="./main.css"/>
<b:isolate/>

<div class="view">
  <div class="final">
    <div class="code" event-click="stop-propagation">
      <div class="code-title">DOM fragment base</div>
      <span{compiledSource}/>
    </div>
  </div>
  <div{childNodesElement} class="template-tree"/>
</div>
