
  <span>&#32;
    <span class="Attribute {selected} {disabled} {hasValue} {isEvent}">
      <span class="AttributeTitle">{name}</span>
      <span class="AttributeValue">="{value}"</span>
    </span>
  </span>
