
  <li class="devtools-templateNode Comment {selected}" event-click="select" event-dblclick="edit">
    <div class="devtools-templateNode-Title">
      &lt;!--
      <span class="devtools-templateNode-Caption">{title}</span>
      --&gt;
      <!--{refList}-->
    </div>
  </li>
