
  <li class="Basis-TreeNode Tag {selected} {disabled}" event-click="select" event-dblclick="edit">
    <div class="Basis-TreeNode-Title">
      &lt;
      <span class="Basis-TreeNode-Caption">{title}</span>
      <!--{refList}-->
      <!--{attributeList}-->
      &gt;
    </div>
    <ul{childNodesElement} class="Basis-TreeNode-Content" /> 
  </li>
