<b:style src="./token.css"/>
<b:style src="./overlay-token.css" ns="ot"/>
<b:isolate/>

<div
  class="token ot:token"
  style="
    top: {top}px;
    left: {left}px;
    width: {width}px;
    height: {height}px;
    background: rgba({color}, .3);
    outline-color: rgba({color}, .6);
  "
  event-click="click"/>
