/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/post.css);*/


  .blog-post
  {
    margin: 1.5em 0 2em;
  }
  .blog-post__title
  {
    margin: 0;
    font-size: 160%;
    color: #2A80EE;
    font-weight: normal; 
    font-family: 'Segoe UI', Arial;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
  }
  .blog-post__title:hover
  {
    color: red;
  }
  .blog-post__pubDate
  {
    font-size: 80%;
    color: #666;
    display: block;
    margin: .5em 0;
  }
  .blog-post__content
  {
    margin: .75em 0;
    color: #333;
    text-transform: capitalize;
  }
  .blog-post__footer
  {
    font-size: 90%;
    border-top: 1px solid #F8F8F8;
    padding-top: .2em;
  }
  .blog-post__category
  {
    min-width: 24ex;
    padding-right: 2ex;
    white-space: nowrap;
    float: left;
  }
  .blog-post__category-link
  {
    color: #2A80EE;
    cursor: pointer;
    text-decoration: underline;
  }
  .blog-post__category-link:hover
  {
    color: red;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/tag.css);*/


  .blog-post-tag
  {
    padding-right: .6em;
  }
  .blog-post-tag:not(:last-child):after
  {
    content: ',';
  }

  .blog-post-tag__title
  {
    text-decoration: underline;
    color: #2A80EE;
    cursor: pointer;
  }
  .blog-post-tag__title:hover
  {
    color: red;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/categoryList.css);*/


  .category-list__header
  {
    font-size: 140%;
    background: #2A80EE;
    color: white;
    margin: 0 -0px;
    padding: .2em 10px .3em;
    font-weight: normal;
    font-family: 'Segoe UI', Arial;
  }
  .category-list__content
  {
    margin: 0;
    padding: 1em 1ex 1em 2ex;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/category.css);*/


  .category-list-item
  {
    list-style: none;
    margin: 0;
    padding: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  .category-list-item:hover
  {
    color: red;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/archiveYear.css);*/


  .archive-year
  {
    list-style: none;
  }
  .archive-year__title
  {
    margin-left: -16px;
    padding: .2em 0 .2em 16px;
    cursor: pointer;
    background: url(res/nqfdHeqdaY0keD8F07fOUQ.png) no-repeat 6px center;
  }
  .archive-year__title:hover
  {
    background-color: #F0F0F0;
  }
  .archive-year__content
  {
    padding: 0 0 1em 2ex;
    margin: 0;
  }

  .archive-year__title_collapsed
  {
    background-image: url(res/MahIzBBzIvjF1KJo-B0-nQ.png);
    background-position: 8px center;
  }
  .archive-year__content_collapsed
  {
    display: none;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/archive.css);*/


  .archive-list__header
  {
    font-size: 140%;
    background: #2A80EE;
    color: white;
    margin: 0 -0px;
    padding: .2em 10px .3em;
    font-weight: normal;
    font-family: 'Segoe UI', Arial;
  }

  .archive-list__content
  {
    padding: 1em 0 1em 16px;
    margin: 0;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/archiveMonth.css);*/


  .archive-list-item__link
  {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  .archive-list-item
  {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .archive-list-item__link:hover
  {
    color: red;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/tagCloud.css);*/


  .tag-cloud__header
  {
    font-size: 140%;
    background: #2A80EE;
    color: white;
    margin: 0 -0px;
    padding: .2em 10px .3em;
    font-weight: normal;
    font-family: 'Segoe UI', Arial;
  }

  .tag-cloud__content
  {
    text-align: center;
    padding: 1em 0;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/tagCloudTag.css);*/


  .cloud-tag
  {
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: font-size .5s;
  }
  .cloud-tag:hover
  {
    color: red;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/demo/apps/blog/template/app.css);*/


  #page
  {
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto 0;
    background: white;
  }
  #page-wrapper
  {
    border: 1px solid #E0E0E0;
    margin: 0 -1px;
    overflow: hidden;
  }
  #sidebar
  {
    float: right;
    height: 100%;
    width: 25%;
    min-width: 180px;
    padding: 10px;
    margin-left: 10px
  }
  #content
  {
    overflow: hidden;
    padding: 10px;
  }
  #footer
  {
    height: 2em;
  }
  #blog-thread
  {
    clear: both;
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/src/basis/ui/templates/paginator/PaginatorNode.css);*/


  .Basis-PaginatorNode
  {
    padding: 0;
    white-space: nowrap;
    text-align: center;
  }
  .Basis-PaginatorNode SPAN
  {
    display: block;
    padding: 3px 0;
    color: #fff;
  }
  .Basis-PaginatorNode A
  {
    padding: 2px .5ex;
    min-width: 3ex;
    color: #0066CC;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .Basis-PaginatorNode A:hover
  {
    background: #F0F0F0;
  }
  .Basis-PaginatorNode A.selected
  {
    background: #D9E8FB;
    color: black;
    text-decoration: none;
    cursor: default;
    font-style: normal;
    font-weight: normal; 
  }

/*@import url(C:/usr/local/Apache/htdocs/git/basisjs/src/basis/ui/templates/paginator/Paginator.css);*/


  .Basis-Paginator
  {
    line-height: 1;
    display: inline;
    display: inline-block;    
    /*width: 100%;*/
  }
  .Basis-Paginator TABLE
  {
    width: 100%;
    border: none;
    border-collapse: collapse;
    tab2le-layout: fixed;
  }
  .Basis-Paginator TR,
  .Basis-Paginator TD
  {
    padding: 0;
    border: none;
    overflow: visible;
  }
  .Basis-Paginator-noScroll .Basis-Paginator-ScrollbarContainer
  {
    display: none;
  }
  .Basis-Paginator-Scrollbar DIV
  {
    position: relative;
  }
  .Basis-Paginator-Scrollbar
  {
    position: relative;
    height: 4px;
    background: #CCC;
    margin: 5px 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
  }
  .Basis-Paginator-ScrollbarSlider
  {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    font-size: 1px;
    cursor: pointer;
    cursor: hand;
  }
  .Basis-Paginator-ScrollbarSlider DIV
  {
    position: absolute;
    width: 100%;
    top: 0;
    height: 4px;
    font-size: 1px;
    background: #666;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
  }
  .Basis-Paginator-ScrollbarSlider SPAN
  {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -7px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(res/vp4H2CyQlxTe52yOcoG3iQ.png) no-repeat left top;
  }
  .Basis-Paginator-ActivePageMark
  {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    min-width: 2px;
  }
  .Basis-Paginator-ActivePageMark DIV
  {
    position: absolute;
    width: 100%;
    left: 0;
    height: 4px;
    overflow: hidden;
    background: #0066CC;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    border-radius: 2px;
  }

    HTML,
    BODY
    {
      background: #F0F0F0;
      font-family: Tahoma, Arial, sans-serif;
      font-size: small;
    }
    BODY
    {
      padding: 20px 0;
    }

    A
    {
      color: #06D;
    }

    .Basis-Paginator
    {
      float: right;
    }
    .Basis-Paginator .Basis-PaginatorNode
    {
      width: 4ex;
    }
  