
  <b:resource src="jsdocView.css"/>

  <div class="view viewJsDoc">
    <h3 class="Content-Header" event-click="scrollTo">
      <span>{title}</span>
    </h3>
    <div class="content">
      <!--{docsView}-->
    </div>
  </div>