
  .Basis-Paginator
  {
    line-height: 1;
    display: inline;
    display: inline-block;    
    /*width: 100%;*/
  }
  .Basis-Paginator TABLE
  {
    width: 100%;
    border: none;
    border-collapse: collapse;
  }
  .Basis-Paginator TR,
  .Basis-Paginator TD
  {
    padding: 0;
    border: none;
    overflow: visible;
  }
  .Basis-Paginator-noScroll .Basis-Paginator-ScrollbarContainer
  {
    display: none;
  }
  .Basis-Paginator-Scrollbar DIV
  {
    position: relative;
  }
  .Basis-Paginator-Scrollbar
  {
    position: relative;
    height: 4px;
    background: #CCC;
    margin: 5px 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    cursor: hand;
  }
  .Basis-Paginator-ScrollbarSlider
  {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    font-size: 1px;
    cursor: pointer;
    cursor: hand;
  }
  .Basis-Paginator-ScrollbarSlider DIV
  {
    position: absolute;
    width: 100%;
    top: 0;
    height: 4px;
    font-size: 1px;
    background: #666;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
  }
  .Basis-Paginator-ScrollbarSlider SPAN
  {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -6px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(res/slider.png) no-repeat left top;
  }
  .Basis-Paginator-ActivePageMark
  {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    min-width: 2px;
  }
  .Basis-Paginator-ActivePageMark_outOfRange
  {
    display: none;
  }
  .Basis-Paginator-ActivePageMark DIV
  {
    position: absolute;
    width: 100%;
    left: 0;
    height: 4px;
    overflow: hidden;
    background: #0066CC;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    border-radius: 2px;
  }