
  <b:resource src="PaginatorNode.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <td class="Basis-PaginatorNode">
    <span>
      <a{link} class="{selected} {disabled}" event-click="click" href="#">{pageNumber}</a>
    </span>
  </td>
