
  {resource:Paginator.css}

	<div class="Basis-Paginator Basis-Paginator-{noScroll} {selected} {disabled}" event-mousewheel="scroll">
    <table><tbody><tr{childNodesElement}/></tbody></table>
    <div{scrollbarContainer} class="Basis-Paginator-ScrollbarContainer">
      <div{scrollbar} class="Basis-Paginator-Scrollbar" event-click="jumpTo">
        <div{activePageMarkWrapper}>
          <div{activePageMark} class="Basis-Paginator-ActivePageMark"><div/></div>
        </div>
        <div{scrollTrumbWrapper}> 
          <div{scrollTrumb} class="Basis-Paginator-ScrollbarSlider"><div{scrollTrumbElement}><span/></div></div>
        </div>
      </div>
    </div>
	</div>
