<div>
  <section class="todoapp">
    <!--{header}-->
    <!--{list}-->
    <!--{footer}-->
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://basisjs.com">basis.js team</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</div>
