.sidebar
{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  max-width: 300px;
  border-right: 1px solid #EEE;
  margin-right: 10px;
  padding-right: 10px;
  white-space: normal;
}

.log__link
{
  float: right;
  color: red;
  margin-left: 1ex;
  padding-top: 0px;
  text-decoration: underline;
  color: #666;
  cursor: pointer;
}
.log__link:hover
{
  color: #A00;
}

@supports (display:flex) {
  .sidebar
  {
    height: auto;
  }
}
