<b:l10n src="./window.l10n"/>
<b:style src="./standalone3.css"/>

<div class="layout" event-mousedown="stop-propagation prevent-default" basis-devpanel-ignore>
  <div class="main">
    <b:include src="./sidebar.tmpl" isolate/>
    <b:include src="./content.tmpl" isolate/>
  </div>
  <div class="source-toggle-button" event-click="toggleSource">
    {l10n:sourceToggle.{showSource}}
  </div>
  <span b:show="{showSource}">
    <!--{source}-->
  </span>
</div>
