.window__wrapper
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  white-space: nowrap;
  z-index: 10001;
  transform: translateZ(0);
  background: rgba(0, 0, 0, .2);
  overflow: auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
}
.window__wrapper:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.window
{
  /* vertical center */
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.window_app
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.window__inner-wrapper
{
  text-align: left;
  display: inline-table;
  font-size: 12px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
.window__inner-wrapper_app
{
  display: block;
}
.window__inner
{
  overflow: auto;
  padding: 4px 8px;
  background: white;
  background: rgba(255, 255, 255, .95);
  border-radius: 2px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .3);
}
.window__inner_app
{
  padding: 5px 10px 10px;
  border-radius: 0;
  box-shadow: none;
}

.source-toggle-button
{
  background: #EEE;
  margin-top: 8px;
  padding: 6px;
  border-radius: 2px;
  opacity: .8;
  cursor: pointer;
}
.source-toggle-button:hover
{
  opacity: 1;
}

.content
{
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  max-width: 650px;
  padding: 0;
}
.toolbar
{
  padding-bottom: 1px;
}
.header
{
  font-size: 12px;
  padding: 3px 3ex;
  margin-right: 60px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.source-title
{
  color: #666;
}
.source-title_isFile
{
  cursor: pointer;
  text-decoration: underline;
}
.source-title_isFile:hover
{
  color: #A00;
}
.warnings
{
  padding-left: 18px;
  background: url(warning.png) no-repeat left center;
  min-height: 16px;
  display: inline-block;
  color: #A82;
}
.button
{
  background: #EEE;
  padding: 3px 8px;
  line-height: 1.2;
  font-size: 12px;
}
.up-buttons
{
  display: inline-block;
  margin-left: -6px;
  float: left;
}
.button_up
{
  padding-left: 6px;
  margin-right: 3px;
  display: inline-block;
  cursor: pointer;
}
.button_up:hover
{
  background: #DDD;
}
.button_source
{
  float: right;
  margin-right: -5px;
  border-radius: 10px;
}
.code
{
  padding: 4px 0 2px;
  clear: both;
  overflow: hidden;
  white-space: pre-wrap;
  color: #444;
  font-family: Consolas, Monaco, Courier New, monospace;
  font-size: 12px;
  line-height: 22px;  
}
.binding
{
  background: rgb(182, 207, 182);
  padding: 3px;
}

.sidebar
{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  max-width: 300px;
  border-right: 1px solid #EEE;
  margin-right: 10px;
  padding-right: 10px;
  white-space: normal;
}

.info-links
{
}
.log__link
{
  float: right;
  color: red;
  margin-left: 1ex;
  padding-top: 0px;
  text-decoration: underline;
  color: #666;
  cursor: pointer;
}
.log__link:hover
{
  color: #A00;
}

@supports (display:flex) {
  .window__inner
  {
    display: flex;
  }
  .sidebar
  {
    height: auto;
  }
}
