 
  HTML
  {
    font-size: small;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #FAF8EC;
    color: black;
  }
  BODY
  {
    padding: 0;
    margin: 20px;
  }

  H1
  {
    clear: left;
    margin: 0;
    padding-bottom: .25em;
    font-family: Arial, sans-serif;
    font-size: 210%;
    font-weight: normal;
  }

  #BackButton
  {
    display: block;
    float: left;
    color: black;
    background: #d9d09e;
    text-decoration: none;
    padding: .5em 2ex;
  }

  #DemoWrapper
  {
    padding: 2em 0;
    clear: both;
  }

  #demo-container
  {
    overflow: hidden;
  }

  #demo-summary
  {
    background: #ECF3FD;
    border-bottom: 1px solid #D9E8FB;
    padding: .5em;
    margin: 0;
    line-height: 1.2em;
  }

  #Demo-SourcePage
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 10px;
  }
  #Demo-SourcePage H2
  {
    font-size: 100%;
    padding: 4px 4px 2px 4px;
    margin: 1em 0 0.5em;
    border-bottom: 1px dotted #E8E8E8;
  }

  #DemoCopy
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0 .4em;
    background: #F8F8F8;
    border-top: 1px solid #E8E8E8;
  }
  #DemoCopy P
  {
    font-size: 85%;
    margin: 0;
    padding-right: 8px;
    text-align: right;
  }

