
  <b:resource src="demo.css"/>

  <div>
    <h1>{title}</h1>

    <!--<div>
      <a href="/">Site index</a>
      <a href="https://github.com/basisjs/basisjs">Fork me on github.com</a>
    </div>-->

    <a id="BackButton" href="../index.html">Back to demos</a>

    <div{content} id="DemoWrapper">
    </div>

    <!--{sourceCode}-->
  </div>