
  <b:resource src="sourceCode.css"/>

  <div id="sourceCode">
    <div id="sourceCodeTrigger" event-click="toggleCode">{toggleText}</div>
    <div{code} id="sourceCodeContent" class="sourceCode_{sourceVisible} Basis-SyntaxHighlight">
    </div>
  </div>
