<p>В базовом варианте классы созданные с помощью <i>basis.Create</i> практически ничем не отличаются от классов созданных другим путем, кроме вызова метод init при создании экземпляра.</p>
<p>Но часто бывает, что у класса может быть много свойств, которые могут задаваться при создании экземпляра. В этом случае удобно использовать паттерн авто-расширения экземпляра при создании. Суть его состоит в том, что при создании экземпляра передается единственный параметр &mdash; объект-конфиг. Перед тем как будет вызван метод конструктор (метод <i>init</i>), все свойства из конфига копируются в экземпляр.</p>
<p>За то, какой паттерн будет использоваться при создании экземпляров отвечает свойство <i>extendConstructor_</i> у класса. Оно задается при создании класса. Если свойство не задано, его значение наследуется от родительского класса. Если оно <i>true</i>, то используется паттерн авто-расширения экземпляра.</p>
<p>Почти у всех классов basisjs свойство <i>extendConstructor_</i> равно <i>true</i>.</p>