.overlay
{
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(110,163,217,0.2);
}
.content
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .3s;
}
.content_hide
{
  opacity: 0;
  transition: opacity .15s;
}

.token
{
  position: absolute;
  z-index: 65000;
  cursor: pointer;
  pointer-events: auto;
  transition: background .35s .1s, outline-color .35s .1s;
}

.content_hover .token:hover,
.content_hover .token:not(:hover)
{
  transition: background .1s, outline-color .1s;
}
.content_hover .token:not(:hover)
{
  background: rgba(210, 210, 210,.3) !important;
  outline-color: rgba(210, 210, 210,.6) !important;
}
