.window__wrapper
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 10000;
  transform: translateZ(0);
  background: rgba(0, 0, 0, .2);
}
.window__wrapper:before
{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.window
{
  /* vertical center */
  position: relative;
  display: inline-block;
  vertical-align: middle;

  /* restore inherit properties*/
  text-align: left;
  white-space: normal;

  background: white;
  background: rgba(255, 255, 255, .95);
  padding: 4px 8px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .3);
  z-index: 10000;
  white-space: nowrap;
  transition: width .5s;
}
.window__inner
{
  display: inline-table;
}

.content
{
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  max-width: 650px;
  padding: 0;
}
.toolbar
{
  padding-bottom: 1px;
}
.button
{
  background: #EEE;
  padding: 3px 6px;
  line-height: 1.2;
  font-size: 12px;
}
.button_up
{
  position: relative;
  left: -3px;
  display: inline-block;
  visibility: hidden;
  cursor: pointer;
}
.button_up.button_upName
{
  visibility: visible;
}
.button_up:hover
{
  background: #DDD;
}
.button_source
{
  float: right;
  margin-right: -4px;
  border-radius: 10px;
}
.code
{
  overflow: hidden;
  white-space: pre-wrap;
  color: #444;
  font-family: Monaco, Consolas, Courier New, monospace;
  font-size: 12px;
  line-height: 22px;  
}
.binding
{
  background: rgb(182, 207, 182);
  padding: 3px;
}

.bindings
{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  max-width: 300px;
  border-right: 1px solid #EEE;
  margin-right: 10px;
  padding-right: 10px;
  white-space: normal;
}
