<b:style src="./template_hintPopup.css"/>
<b:isolate/>

<div class="popup">
  <span b:show="{name}" class="name">
    <span class="propertyTitle">Reference: </span>
    {name}
  </span>
  <span class="source">
    <span class="propertyTitle">Source: </span>
    {source}
  </span>
  <span class="instance">
    <span class="propertyTitle">Instance: </span>
    {instanceName}
  </span>
  <span class="rootNodeSelector">
    <span class="propertyTitle">Root node: </span>
    {rootNodeSelector}
  </span>
</div>
