<p>Любой <i>basis.ui.Node</i> может выбран (<i>selected</i>), если это не переопределено (например, свойством <i>selectable</i>). По умолчанию это состояние не синхронизируется с другими. Для того чтобы состояние синхронизировать с другими узлами используется экземпляр класса <i>basis.dom.wrapper.Selection</i> (наследник <i>basis.data.Dataset</i>). Этот экземпляр задается некоторому узлу свойством <i>selection</i>, и он создает контекст выделения (<i>contextSelection</i>) для дочерних узлов. Этот же контекст задают дочерние узлы для своих дочерних узлов, если у них не указан свой <i>Selection</i>.
<p><i>Selection</i> &mdash; это набор, в котором хранятся выбранные узлы. У него есть режимы: он может быть одиночным, т.е содержать всегда максимум только один узел, или множественным, т.е содержать сразу несколько узлов. Режимом управляет булево свойство <i>multiple</i>, по умолчанию оно <i>false</i> (одиночный режим).</p>
<p>В качестве значения для <i>selection</i> может быть задан как экземпляр <i>basis.dom.wrapper.Selection</i>, так и конфиг для него. Если не нужно задавать особых свойств можно передать пустой объект или значение <i>true</i>.</p>
<p>Можно явно добавлять узлы в <i>selection</i> и удалять из него, используя методы набора <i>add</i>, <i>remove</i>, <i>set</i>, <i>clear</i>. Или же использовать методы самих узлов: метод <i>select</i> для выбора узла и метод <i>unselect</i> для снятия выделения.</p>
<p>Метод <i>select</i> принимает булево значение в качестве единственного аргумента, которое определяет как должно добавление в <i>selection</i>. Если оно <i>false</i>, то перед добавлением узла в набор, он очищается. В противном случае этого не происходит. Если вызов метода <i>select</i> осуществляет на пользовательское действие, то второй аргумент будет <i>true</i>, если пользователь удерживает клавишу <i>ctrl</i> или <i>command</i>. Этот аргумент имеет значение только при множественном выделении.</p>
