<b:define name="completed" type="bool"/>
<b:define name="editing" type="bool"/>

<li class="{completed} {editing}">
  <div class="view">
    <input class="toggle" type="checkbox" checked="{completed}" event-click="toggle"/>
    <label event-dblclick="startEdit">{name}</label>
    <button class="destroy" event-click="destroy"></button>
  </div>
  <input b:ref="editRef" class="edit" event-keydown="keydown" event-blur="endEdit"/>
</li>
