<b:style src="./reloadRequired.css"/>
<b:isolate/>

<div b:show="{permamentFilesCount}" class="label" event-click="reload">
  {permamentFilesCount} file(s) updated, changes can't be applied until page reload
</div>
