<section class="main">
  <input class="toggle-all hidden" type="checkbox" checked="{allCompleted}"/>
  <label event-click="toggle"></label>
  <ul class="todo-list">
    <!--{childNodesHere}-->
  </ul>
</section>
