
  <b:resource src="Balloon.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>
  <b:define name="visible" type="enum" values="visible hidden" default="hidden"/>
  <b:define name="orientation" type="enum" values="v-left-top v-right-top v-center-top v-left-center v-right-center v-center-center v-left-bottom v-right-bottom v-center-bottom h-left-top h-right-top h-center-top h-left-center h-right-center h-center-center h-left-bottom h-right-bottom h-center-bottom"/>

  <div class="Basis-Balloon mode-{orientation} {anim:visible} {selected} {disabled}" event-click="click">
    <div class="Basis-Balloon-Canvas">
      <div class="corner-left-top"/>
      <div class="corner-right-top"/>
      <div class="side-top"/>
      <div class="side-left"/>
      <div class="side-right"/>
      <div class="content"/>
      <div class="corner-left-bottom"/>
      <div class="corner-right-bottom"/>
      <div class="side-bottom"/>
      <div class="tail"/>
    </div>
    <div class="Basis-Balloon-Layout">
      <div{content|childNodesElement} class="Basis-Balloon-Content"/>
    </div>
  </div>
