
  {resource:Balloon.css}

  <div class="Basis-Balloon mode-{orientation} {anim:visible} {selected} {disabled}" event-click="click">
    <div class="Basis-Balloon-Canvas">
      <div class="corner-left-top"/>
      <div class="corner-right-top"/>
      <div class="side-top"/>
      <div class="side-left"/>
      <div class="side-right"/>
      <div class="content"/>
      <div class="corner-left-bottom"/>
      <div class="corner-right-bottom"/>
      <div class="side-bottom"/>
      <div class="tail"/>
    </div>
    <div class="Basis-Balloon-Layout">
      <div class="Basis-Balloon-CloseButton" event-click="hide"><span>Close</span></div>
      <div{content|childNodesElement} class="Basis-Balloon-Content"/>
    </div>
  </div>
