
  {resource:Popup.css}

  <div class="Basis-Popup popup-{orientation} {anim:visible} {selected} {disabled}">
    <div class="Basis-Popup-CloseButton" event-click="hide"><span>Close</span></div>
    <div{content|childNodesElement} class="Basis-Popup-Content"/>
  </div>
