
  .Basis-Popup
  {
    position: absolute;
    background-color: white;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  }

  .Basis-Popup-Content
  {
    min-height: 1em;
    min-width: 100px;
  }
