.element
{
  color: rgb(136, 18, 128);
}
.childNodes
{
  padding-left: 2ex;
  padding-left: 2ch;
}
.inline
{
  padding: 0 2px;
  display: inline-block;
}
.childrenHidden
{
  color: #666;
  padding: 0 1px;
}
.binding,
.nestedView
{
  padding: 3px;
  padding: 3px .5ch;
  margin-left: -3px;
  margin-left: -.5ch;
  border-radius: 2px;
  background: #EEE;
  text-shadow: 0px 0px 1px white;
  transition: color .15s, background-color .15s;
}
.nestedView:not(.binding),
.matchBinding.nestedView
{
  background: #E0E4B0;
}
.matchBinding
{
  background: #B6CFB6;
}
.nestedView
{
  cursor: pointer;
}
