.element
{
  color: rgb(136, 18, 128);
}
.childNodes
{
  padding-left: 2ex;
  padding-left: 2ch;
}
.inline
{
  padding: 0 2px;
  display: inline-block;
}
.childrenHidden
{
  color: #666;
  padding: 0 1px;
}
