<b:style src="./element.css"/>
<b:isolate/>

<div class="element">
  &lt;{name}<!--{attributes}-->&gt;
  <span b:hide="{singleton}">
    <div{childNodesElement} b:show="{childCount}" class="childNodes {inline}"/>
    <span b:show="{childrenHidden}" class="childrenHidden">&hellip;</span>
    &lt;/{name}&gt;
  </span>

</div>
