<b:style src="./js-source-popup.css"/>
<b:isolate/>
<b:define name="orientation" type="enum" values="v-left-top v-right-top v-center-top v-left-bottom v-right-bottom v-center-bottom"/>

<div class="balloon balloon_{orientation}">
  <span class="tail tail_{orientation}"/>
  <pre{source} class="source"/>
</div>
