<b:style src="./object-info.css"/>
<b:isolate/>

<div class="panel">
  <div class="caption">
    Owner object
  </div>
  <div class="content">
    <span class="object-title">{objectClassName} #{objectId}</span>
    <span class="object-loc" b:show="{objectLocation}">
      created at <span
        class="loc"
        event-click="openObjectLocation"
        event-mouseenter="enterObjectLocation"
        event-mouseleave="leaveObjectLocation">
        {objectLocation}
      </span>
    </span>
  </div>
</div>
