.binding
{
  margin: 1px 0;
  display: inline;
  font-size: 12px;
  font-family: Monaco, Consolas, Courier New, monospace;
}
.binding_used
{
  display: flex;
  align-items: baseline;
}
.caption
{
  color: #888;
}
.caption:not(.caption_used):after
{
  content: ', ';
  text-decoration: none;
}
.binding:last-child .caption:after
{
  content: '';
}
.caption_used
{
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
  background: transparent;
  color: #444;
  cursor: pointer;
  transition: background-color .15s;
}
.caption_highlight
{
  background: rgb(182, 207, 182);
}
.link_loc
{
  text-decoration: underline;
  cursor: pointer;
}
.caption:not(.caption_used):hover .link_loc
{
  color: #A00;
}
.value
{
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
