<b:style src="./template-info-binding-group.css"/>
<b:isolate/>

<div class="group">
  <div class="caption">
    <span class="log__link" event-click="logDeclaration" title="Log template declaration into console and saves as $lastInspectDeclaration">declaration</span>
    <span class="log__link" event-click="logValues" title="Log values into console and saves as $lastInspectValues">values</span>
    {l10n:caption.{name}}:
  </div>
  <div{childNodesElement} class="content"/>
</div>
