<b:style src="./text.css"/>
<b:isolate/>
<b:define name="binding" type="bool"/>
<b:define name="matchBinding" type="bool"/>

<span class="text {binding} {matchBinding}" event-mouseenter="enter" event-mouseleave="leave">
  {value}
</span>
