  .Basis-ScrollTable
  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /*height: 200px;*/
    border: none;
    overflow: hidden;
  }
  .Basis-ScrollTable .Basis-Table
  {
    border-left: none;
    border-bottom: none;
  }
  .Basis-ScrollTable-TableWrapper
  {
    overflow: hidden;
  }
  .Basis-ScrollTable-ScrollContainer
  {
    overflow-y: scroll;
    overflow-x: auto;
    height: 100%;
    position: relative;
  }
  
  /* head, foot*/
  .Basis-ScrollTable-HeaderFooterContainer
  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .Basis-ScrollTable-HeaderFooterContainer TABLE
  {
    width: auto !important;
  }
  .Basis-ScrollTable-Header,
  .Basis-ScrollTable-Footer
  {
    position: absolute;
    left: 0;
    b3order-left: 1px solid #d5d5d5;
  }
  .Basis-ScrollTable-Header,
  .Basis-ScrollTable-Footer
  {
    border-spacing: 0;
  }
  .Basis-ScrollTable-Header
  {
    top: 0;
  }
  .Basis-ScrollTable-Footer
  {
    bottom: 0;
  }

  /*expand cells*/
  .Basis-ScrollTable .Basis-ScrollTable-ExpandHeaderCell 
  {
    position: absolute;
    right: 0;
    top: -2px;
    border-left: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    margin-left: -1px;
    background: #F1F2F4 url(../../../../style/table/vista/bg.gif) repeat-x;
  }
  .Basis-ScrollTable .Basis-ScrollTable-ExpandFooterCell 
  {
    background: white url(../../../../style/table/vista/footer_bg.gif) repeat-x;
    position: absolute;
    right: 0;
    bottom: -1px;
    margin-left:  -1px;
    border-left: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
  }

  .Basis-ScrollTable .Basis-ScrollTable-ExpandCell-Content
  {
    position: relative;
    top: 2px;
    border-top: 1px solid #D5D5D5;
  }

  .Basis-ScrollTable TD.Basis-Table-Footer-Cell
  {
    background-color: white;
  }
