
  <b:resource src="TitleButton.css"/>

  <span class="Basis-Window-Title-ButtonPlace">
    <span class="Basis-Window-Title-CloseButton" event-click="close">
      <span>{l10n:closeButton}</span>
    </span>
  </span>
