
  .Basis-Window
  {
    position: absolute;
    height: 1px;
  }

  .Basis-Window-Canvas
  {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;

    height: 100%;
    width: 100%;
  }

  .Basis-Window-Canvas *
  {
    overflow: hidden;
    position: relative;
  }

  .Basis-Window-Canvas .corner-left-top,
  .Basis-Window-Canvas .corner-right-top,
  .Basis-Window-Canvas .corner-left-bottom,
  .Basis-Window-Canvas .corner-right-bottom
  {
    display: block;
    background-image: url(res/corners.gif);
    z-index: 1;
  }

  .Basis-Window-Canvas .side-top
  {
    height: 8px;
  }
  .Basis-Window-Canvas .side-left
  {
    top: 32px;
    width: 9px;
    margin-top: 0;
  }
  .Basis-Window-Canvas .side-right
  {
    top: 32px;
    width: 11px;
    margin-top: 0;
  }
  .Basis-Window-Canvas .content
  {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    background-image: url(res/content.gif);
    background-position: 0 0;
  }
  .Basis-Window-Canvas .side-bottom
  {
    height: 12px;
    top: 100%;
  }
  .Basis-Window-Canvas .corner-left-bottom,
  .Basis-Window-Canvas .corner-right-bottom
  {
    margin-bottom: -19px;
    top: 100%;
  }

  .Basis-Window-Layout
  {
    width: 400px;
    zoom: 1;
    padding-top: 24px;
  }

  .Basis-Window-Title
  {
    left: 4px;
    right: auto;
    width: 100%;
  }
  .Basis-Window-Title-ButtonPlace
  {
    position: relative;
    margin-left: -1px;
  }
  .Basis-Window-TitleCaption
  {
    width: 100%;
    cursor: hand;
  }

  .Basis-Window-Title-CloseButton
  {
    background-image: url(res/button_close.gif);
  }

  .Basis-Window-Content
  {
    zoom: 1;
  }