
  <b:resource src="Window.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>
  <b:define name="moveable" type="bool"/>

  <div class="Basis-Window Basis-Window_{moveable} {selected} {disabled}" event-mousedown="mousedown" event-keydown="keydown">
    <div class="Basis-Window-Canvas">
      <div class="corner-left-top"/>
      <div class="corner-right-top"/>
      <div class="side-top"/>
      <div class="side-left"/>
      <div class="side-right"/>
      <div class="content"/>
      <div class="corner-left-bottom"/>
      <div class="corner-right-bottom"/>
      <div class="side-bottom"/>
    </div>
    <div class="Basis-Window-Layout">
      <div{ddtrigger} class="Basis-Window-Title">
        <div class="Basis-Window-TitleCaption">
          <!--{titleButtons}-->
          {title}
        </div>
      </div>
      <div{content} class="Basis-Window-Content">
        <!--{childNodesHere}-->
      </div>
    </div>
  </div>
