{
  "create": {
    "appName": "app",
    "path": {
      "type": "src/app/type",
      "typeIndex": "src/app/type.js",
      "module": "src/module"
    }
  },
  "build": {
    "file": "index.html",
    "output": "build"
  },
  "server": {
    "base": "..",
    "port": 8080,
    "ignore": [
      "demo",
      "docs",
      "test"
    ],
    "rewrite": {
      "^/$": "/tour/"
    }
  }
}