.item
{
  min-width: 120px;
  padding: 0.5em 8px;
  background: #E0E0E0;
  margin: 1px;
}
.item:hover
{
  background: #89ACF0;
  color: white;
}
.item.selected
{
  background: #4B77CC;
  cursor: default;
  color: white;
}
