<p>Наследование базируется на прототипном наследовании javascript. basisjs лишь упрощает процесс конструирования классов.</p>
<p>Любое свойство может быть переопределено в новом класса. Для доступа к свойствам супер-класса производится через свойство prototype супер-класса. Так для вызова метода супер-класса (метода родителя) используется конструкция вида:<br/> <code>SuperClass.prototype.method.call(this, args...)</code></p>
<p>Так же у классов есть метод <i>subclass</i>, который может служить альтернативой <i>basis.Class</i>. Следующие две записи эквивалентны:</p>
<pre><b:text>
  var MyClass = basis.Class(SomeClass,  { .. });
  var MyClass = SomeClass.subclass({ .. });
</b:text></pre>
