<p>Мы стремимся к слабому связыванию, при таком подходе компоненты знают друг о друге очень мало &mdash; в идеале ничего не знают. Каждый модуль должен знать только о своих вложенных модулях, а они только о своих вложенных модулях и т.д. Модуль может объединять функционально свои дочерние модули (связывать).</p>
<p>На данном слайде пример организации слабого связывания. Это то же решение, что и на предыдущем слайде, но в данном случае редактор (editor) и список (list), описаны в отдельных файлах и не знаю о существовании друг друга. Основной модуль подключает их и связывает. При этом ни редактор, ни список не знают кто и как их использует.</p>