
  .Basis-ScrollTable
  {
    position: relative;
    overflow: hidden;
  }
  .Basis-ScrollTable-ContentTable
  {
    border-spacing: 0;
    empty-cells: show;
  }

  .Basis-ScrollTable_fitToContainer
  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -1px;
    border: 1px solid;
    border-color: #D5D5D5 #D5D5D5 #E8E8E8 #E8E8E8;
    overflow: hidden;
  }
  .Basis-ScrollTable-ContentTable
  {
    border-left: none;
    border-bottom: none;
  }
  .Basis-ScrollTable-TableWrapper
  {
    overflow: hidden;
    float: left;
    position: relative;
  }
  .Basis-ScrollTable-ScrollContainer
  {
    overflow-y: scroll;
    overflow-x: auto;
    height: 100%;
    position: relative;
  }
  
  /* head, foot*/
  .Basis-ScrollTable-Header-Container
  {
    position: relative;
    margin-top: -1px;
  }
  .Basis-ScrollTable-Header-Container TABLE
  {
  }
  .Basis-ScrollTable-Footer-Container
  {
    position: relative;
    margin-top: 1px;
  }
  .Basis-ScrollTable-Header,
  .Basis-ScrollTable-Footer
  {
    border-spacing: 0;
    empty-cells: show;
    position: relative;
  }

  /*expand cells*/
  .Basis-ScrollTable .Basis-ScrollTable-ExpandHeaderCell 
  {
    direction: rtl;
    overflow: visible;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
  .Basis-ScrollTable-ExpandHeaderCell-B1
  {
    height: 100%;
    position: absolute;
    right: 0;
    top: -2px;
    min-width: 100%;
    background: #F1F2F4 url(../table/res/bg.gif) repeat-x 0 2px;
    border-left: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
  }
  .Basis-ScrollTable-ExpandHeaderCell-B2
  {
    float: left;
    overflow: scroll;
    visibility: hidden;
    /*margin-right: -1px;*/
  }

  .Basis-ScrollTable-ExpandFooterCell
  {
    direction: rtl;
    overflow: visible;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
  .Basis-ScrollTable-ExpandFooterCell-B1
  {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: -1px;
    min-width: 100%;
    background: white url(../table/res/footer_bg.gif) repeat-x;
    border-left: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
  }
  .Basis-ScrollTable-ExpandFooterCell-B2
  {
    float: left;
    overflow: scroll;
    visibility: hidden;
  }
