
  <li class="Basis-TreeNode {collapsed}">
    <div{content} class="Basis-TreeNode-Title Basis-TreeNode-CanHaveChildren {selected} {disabled}">
      <div class="Basis-TreeNode-Expander" event-click="toggle"/>
      <span{titleElement} class="Basis-TreeNode-Caption" event-click="select">
        {title}
      </span>
    </div> 
    <ul{childNodesElement} class="Basis-TreeNode-Content"/> 
  </li>
