
  <li class="Basis-TreeNode">
    <div{content} class="Basis-TreeNode-Title {selected} {disabled}">
      <span{titleElement} class="Basis-TreeNode-Caption" event-click="select">
        {title}
      </span>
    </div>
  </li>
