
  <b:resource src="Node.css"/>

  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <li class="Basis-TreeNode">
    <div{content} class="Basis-TreeNode-Title {selected}">
      <span class="Basis-TreeNode-Caption Basis-TreeNode-Caption__{disabled} Basis-TreeNode-Caption__{selected}" event-click="select">
        {title}
      </span>
    </div>
  </li>
