
  <b:resource src="PartitionNode.css"/>

  <li class="Basis-TreePartitionNode"> 
    <div class="Basis-TreePartitionNode-Title">
      <span>{title}</span>
    </div>
    <ul{childNodesElement} class="Basis-TreePartitionNode-Content"/>
  </li>
