
  <div class="item {nodeType}">
    <div class="title">
      <span class="method_mark">{mark}</span>
      <a href="#{path}">{title}</a><span class="args">({args})</span><span{types} class="types"/>
    </div>
    <!--{jsdocs}-->
  </div>
