
  .viewPrototype .Basis-PartitionNode-Content
  {
    border-top: 1px solid #E0E0E0;
    padding-left: 20px;
  }
  .viewPrototype .Basis-PartitionNode-Title
  {
    margin: 1em .5ex .2em 0;
  }
  .viewPrototype .grouping-class .Basis-PartitionNode-Title
  {
    background: url(img/bullet_square_red.png) no-repeat 2px center;
    padding-left: 20px;
  }

  .viewPrototype .Basis-PartitionNode .emptyLabel
  {
    margin: 1em 0 2em;
    color: #888;
    font-style: italic;

    display: none;
  }
  .viewPrototype .Basis-PartitionNode.groupEmpty .emptyLabel
  {
    display: block;
  }
