<b:isolate/>
<b:style src="./group.css"/>
<b:define name="hasFilename" type="bool"/>

<div class="group">
  <div class="title">
    <span class="title-button_{hasFilename}" event-click="open">{title}</span>
  </div>
  <div{childNodesElement}/>
</div>
