<b:isolate/>
<b:style src="./stat-item.css"/>
<b:define name="fatal" type="bool"/>
<b:define name="selected" type="bool"/>

<span class="item item_{selected} item_{fatal}" event-click="select">
  {caption}: {count}
</span>
