.item
{
  display: inline-block;
  padding: 5px 10px;
}
.item:first-child
{
  border-radius: 3px 0 0 3px;
}
.item:last-child
{
  border-radius: 0 3px 3px 0;
}
.item:hover
{
  background-color: #EEE;
  cursor: pointer;
}
.item_fatal
{
  color: #D00;
}
.item_selected,
.item_selected:hover
{
  background: #3879D9;
  color: white;
  cursor: default;
}
.item_fatal.item_selected,
.item_fatal.item_selected:hover
{
  background: #B00;
}
