<b:isolate/>
<b:style src="./view.css"/>
<b:define name="processing" from="childNodesState" type="enum" values="processing"/>

<div class="view">
  <div class="spinner spinner_{processing}">
    Fetching application profile...
  </div>
  <div class="no-warnings" b:show="{isOk}">
    Congrats, no warnings found!
  </div>
  <!--{stat}-->
  <div{childNodesElement} class="warnings"/>
</div>
