<b:style src="./attritube.css"/>
<b:isolate/>

<span class="attribute">
  &#x20;
  <span class="name">
    {name}
  </span>
  <span b:show="{childCount}">
    ="<span{childNodesElement} class="value"/>"
  </span>
</span>
