
  {resource:Menu.css}

  <div class="Basis-Menu popup-{orientation} {anim:visible} {selected} {disabled}">
    <div{closeButton} class="Basis-Menu-CloseButton"><span>Close</span></div>
    <div{content|childNodesElement} class="Basis-Menu-Content"/>
  </div>
