
.Basis-Menu
{
  position: absolute;
  overflow: auto;
  overflow-x: hidden;

  font-family: 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif;
  font-size: 90%;

  border: 1px solid #979797;
    -moz-box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, .5);
  box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, .5);
}

.Basis-Menu-CloseButton
{
  display: none;
}

.Basis-Menu-Content
{
  min-width: 150px;
  border: 2px solid #F5F5F5;
  background-color: #F1F1F1;
}
