
  <b:style src="./Menu.css"/>
  <b:define name="visible" type="enum" values="visible hidden" default="hidden"/>

  <div class="Basis-Menu {anim:visible}">
    <div{closeButton} class="Basis-Menu-CloseButton"><span>Close</span></div>
    <div{content|childNodesElement} class="Basis-Menu-Content"/>
  </div>
