.Basis-Menu-Item
{
  cursor: default;
}

.Basis-Menu-Item .Basis-Menu-Item-Caption
{
  display: block;
  margin-left: -28px;

  white-space: nowrap;
  text-decoration: none;
  color: black;

    -moz-outline: none;
  outline: none;
}

.Basis-Menu-Item .Basis-Menu-Item-Caption:hover,
.Basis-Menu-Item.selected .Basis-Menu-Item-Caption
{
  background: #E9EFF6 url(res/overlay.png) repeat-x;
  background-color: rgba(210, 226, 247, .3);
}

.Basis-Menu-Item.disabled .Basis-Menu-Item-Caption
{
  color: #888;
}

.Basis-Menu-Item.disabled .Basis-Menu-Item-Caption:hover
{
  background-color: #E8E8E8;
  background-color: rgba(220, 220, 220, .5);
}

.Basis-Menu-Item.disabled .Basis-Menu-Item-Caption:hover SPAN
{
  border-color: #D3D3D3;
  border-color: rgba(200, 200, 200,.6);
}

.Basis-Menu-Item .Basis-Menu-Item-Caption SPAN
{
  display: block;
  padding: .22em 20px .26em 32px;
  
  border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 2px;
  border-radius: 2px;
}

.Basis-Menu-Item .Basis-Menu-Item-Caption.selected SPAN
{
  padding-top: 3px;
  padding-bottom: 3px;
  background: url(res/menuitem_selected_icon.gif) no-repeat -1px center;
}

.Basis-Menu-Item .Basis-Menu-Item-Caption:hover SPAN
{
  border-color: #AECFF7;
  border-color: rgba(136, 186, 247, .6);
    -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .4) inset;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .4) inset;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .4) inset;
}
