
  <b:resource src="MenuItem.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-Menu-Item {selected} {disabled}" event-click="click">
    <a{content} class="Basis-Menu-Item-Caption">
      <span>
        {caption}
      </span>
    </a>
  </div>
