.tab
{
  float: left;
  margin-right: 1px;
  padding: 4px 8px;
  
  background: rgba(255, 255, 255, .65);
  font-size: 90%;
  cursor: pointer;
}
.tab:first-child
{
  border-top-left-radius: 3px;
}
.tab:last-child
{
  border-top-right-radius: 3px;
}
.tab_selected
{
  padding-bottom: 5px;
  cursor: default;
  color: #EEE;
  background: #263238;
}
.tab_modified
{
  font-weight: bold;
}
