.tab
{
  float: left;
  margin-right: 1px;
  padding: 4px 8px;
  
  background: #E4E4E4;
  font-size: 90%;
  cursor: pointer;
}
.tab_selected
{
  padding-bottom: 5px;
  cursor: default;
  color: #EEE;
  background: #272822;
}
.tab_modified
{
  font-weight: bold;
}
