
  <b:resource src="prototypeViewGroup.css"/>
  
  <div class="Basis-PartitionNode {groupEmpty}">
    <div class="Basis-PartitionNode-Title">{title}</div>
    <div{childNodesElement|content} class="Basis-PartitionNode-Content">
      <div class="emptyLabel">Implement nothing</div>
    </div>
  </div>