<b:style src="./view.css"/>
<b:isolate/>

<div class="window__wrapper" event-click="close" basis-devpanel-ignore>
  <div{ddelement|ddtrigger} class="window">
    <div class="window__inner" event-click="stop-propagation">
      <div class="window__inner-wrapper">
        <div class="sidebar">
          <!--{rolesTree}-->
        </div>
        <div class="content">
          <!--{path}-->
          <!--{trackingList}-->
        </div>
      </div>
    </div>
  </div>
</div>
