<b:resource src="Chart.css" />
<b:define name="selected" type="bool"/>

<div class="Basis-Chart Basis-Chart_{selected}">
  <!--{caption}-->
  <!--{chartSelection}-->
  <b:include src="basis.ui.canvas.Canvas" class="Basis-Chart__Canvas"/>
  <!--{chartViewer}-->
</div>
