
  #Editor .CreateFilePanel
  {
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #F0F0F0;
    background: rgba(0,0,0,.05);
  }

  #Editor .CreateFilePanel .wrapper  
  {
    padding: .5em 4px;
  }

  #Editor .CreateFilePanel .message
  {
    padding: .5em 0 1em;
    font-size: 85%;
  }