
  <div class="Basis-Field {selected}">
    <div class="fileInfo">
      {filename}
    </div>
    <div{content} class="Basis-Field-Container">
      <textarea{field|focus} class="{modified}" 
        value="{value}"
        disabled="{disabled}"
        event-keydown="keydown"
        event-keyup="keyup"
        event-keypress="keypress"
        event-focus="focus"
        event-blur="blur"
        event-change="change"
        event-input="input" />
    </div>
    <!--{createFilePanel}-->
  </div>
