
  .SourceEditor
  {
    position: absolute;
    top: 1.2em;
    padding-top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .SourceEditor .fileInfo
  {
    height: 1.2em;
    line-height: 1.1em;
    padding: 2px 0 2px;
    margin-top: -1.5em;
    text-align: center;
    border-bottom: 1px solid #CCC;
    background: #F4F4F4;
  }
  .SourceEditor .Basis-Field-Container
  {
    height: 100%;
    background: white;
    box-shadow: 0 0 8px rgba(128, 128, 128, .25) inset;
  }
  .SourceEditor TEXTAREA  
  {
    margin: 0;
    padding: 2px;
    border: 3px solid rgba(255,255,255,0);
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    resize: none;
    outline: none;
    background: transparent;
    background: rgba(0,0,0,0);
    font-family: Consolas, monospace;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    box-sizing: border-box;

      -webkit-transition: border-color .5s;
      -moz-transition: border-color .5s;
    transition: border-color .5s;

    border-radius: 0 0 2px 2px;
  }
  .SourceEditor TEXTAREA.modified
  {
    border-color: rgba(200, 0, 0, .5);
  }