
  <div class="Basis-Field {selected}">
    <div class="fileInfo">
      {filename}
    </div>
    <div{content} class="Basis-Field-Container">
      <textarea{field} class="{modified}" />
    </div>
    <!--{createFilePanel}-->
  </div>
