
  @import 'createFilePanel.css';
  @import 'editor.css';
  
  @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }  
  
  #Editor
  {
    position: relative;
    overflow: hidden;
  }
  #Editor.focus
  {
    border-color: #ACF;
  }
  #Editor .Basis-VerticalPanel
  {
    overflow: hidden;
  }

  #EditorToolbar
  {
    padding: 5px;
    border-bottom: 1px solid #CCC;
    background: #F4F4F4;
    text-align: right;
  }
  .cursor
  {
    position: absolute;
    width: 0px;
    overflow: hidden;
    height: 1.2em;
    border-left: 1px solid black;
    -webkit-animation: blink-caret .5s step-end infinite alternate;
  }
  