
  <b:resource src="AccordionControl.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-AccordionControl {selected} {disabled}">
    <div{content|childNodesElement} class="Basis-AccordionControl-Content"/>
  </div>
