
/**
 * Vista style for Basis.Controls.Tabs
 * Internet Explorer 5.0-6.0 fixes
 */

  .Basis-TabControl
  {
    zoom: 1;
  }

  .Basis-TabControl .Basis-Tab
  {
    cursor: hand;
  }

  .Basis-TabControl .Basis-TabControl-Content .disabled
  {
    cursor: default;
  }

  .Basis-PageControl
  {
    zoom: 1;
  }