
  <b:resource src="Tab.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-Tab Basis-Tab__{selected} Basis-Tab__{disabled}" event-click="select">
    <span class="Basis-Tab-Content">
      <span class="Basis-Tab-Caption">
        {title}
      </span>
    </span> 
  </div>
  <div{content}/>
