
  .Basis-TabControl
  {
    border-bottom: 1px solid #898C95;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: Tahoma, Verdana, sans-serif;
  }
  .Basis-TabControl-Start
  {
    width: 2px; 
    height: 1em; 
    float: left;
  }
  .Basis-TabControl-Content
  {
    padding-top: 2px;
  }
  .Basis-TabControl-End
  {
    clear: both;
  }
