
  {resource:TabControl.css}

  <div class="Basis-TabControl {selected} {disabled}">
    <div class="Basis-TabControl-Start"/>
    <div{content|childNodesElement} class="Basis-TabControl-Content"/>
    <div class="Basis-TabControl-End"/>
  </div>
