
  <b:resource src="TabControl.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-TabControl {selected} {disabled}">
    <div class="Basis-TabControl-Start"/>
    <div{content|childNodesElement} class="Basis-TabControl-Content"/>
    <div class="Basis-TabControl-End"/>
  </div>
