
  <b:resource src="TabSheetControl.css"/>
  <b:resource src="TabControl.css"/>
  <b:resource src="PageControl.css"/>

  <div class="Basis-TabSheetControl {selected} {disabled}">
    <div{tabsElement} class="Basis-TabControl">
      <div class="Basis-TabControl-Start"/>
      <div{content|childNodesElement} class="Basis-TabControl-Content"/>
      <div class="Basis-TabControl-End"/>
    </div>
    <div{pagesElement} class="Basis-PageControl"/>
  </div>
