
  <b:style src="./TabSheetControl.css"/>

  <div class="Basis-TabSheetControl">
    <b:include src="./TabControl.tmpl" ref="tabsElement"/>
    <b:include src="./PageControl.tmpl" ref="pagesElement"/>
  </div>
