
  <div class="Doc-TemplateView-Node Doc-TemplateView-Element {hasRefs}">
    <span>&lt;{nodeName}<!--{refList}--><!--{attributes}-->&gt;</span>
    <div{childNodesElement} class="Doc-TemplateView-NodeContent"></div>
    <span>&lt;/{nodeName}&gt;</span>
  </div>
