
  .ClassMap .ClassNode
  {
    margin: 0 0 0 10px;
    padding: 6px 0 6px 10px;
    border-left: 1px solid #666;
    position: relative;
  }
  .ClassMap .ClassNode:first-child
  {
    border-left: none;
  }
  .ClassMap .ClassNode:last-child
  {
    border-left: none;
  }
  .ClassMap .ClassNode:first-child:last-child
  {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ClassMap .ClassNode .connector
  {
    position: absolute;
    border-top: 1px solid #666;
    width: 10px;
    display: block;
    top: 50%;
    left: 0;
  }
  .ClassMap .ClassNode:first-child > .connector
  {
    height: 50%;
    border-left: 1px solid #666;
  }
  .ClassMap .ClassNode:last-child > .connector
  {
    top: 0;
    height: 50%;
    border-left: 1px solid #666;
    border-top: none;
    border-bottom: 1px solid #666;
  }
  .ClassMap .ClassNode:first-child:last-child > .connector
  {
    border-left: none;
    height: auto;
    top: 50%;
  }

  .ClassMap .sub-connector
  {
    display: block;
    position: absolute;
    top: 50%;
    border-top: 1px solid #666;
    width: 10px;
  }
  .ClassMap .empty .ClassNode-SubClassList > .sub-connector
  {
    display: none;
  }

  .ClassMap .ClassNode-Wrapper
  {
    display: table-row;
  }

  .ClassMap .ClassNode-Header
  {
    display: table-cell;
    vertical-align: middle;
  }
  .ClassMap .ClassNode-Header-Title
  {
    padding: 4px;
    width: 22ex;
    overflow: hidden;
    border: 1px solid #F2CE3D;
    background: #FFFFE0;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  }
  .ClassMap .ClassNode-Header-Title A
  {
    color: #06C;
  }
  .ClassMap .ClassNode-Header-Title .ns
  {
    display: block;
    font-size: 80%;
    color: #444;
  }
  .ClassMap .ClassNode-SubClassList
  {
    display: table-cell;
  }
  .ClassMap .ClassNode-SubClassList-Wrapper
  {
  }

  .ClassMap .firstLevel > .ClassNode
  {
    border: none;
  }
  .ClassMap .firstLevel > .ClassNode > .connector
  {
    display: none;
  }
  .ClassMap .ClassNode-Header.side-parent,
  .ClassMap .ClassNode-Header.side-subclass
  {
    opacity: .5;
  }
