
  <b:resource src="Graph.css" />

  <div class="Basis-Graph Basis-Graph_{selected}">
    <!--{caption}-->
    <!--{graphSelection}-->
    <b:include src="basis.ui.canvas.Canvas"/>
    <!--{graphViewer}-->
  </div>
