
  <b:resource src="Graph.css" />

  <div class="Basis-Graph Basis-Graph_{selected}">
    <!--{caption}-->
    <!--{graphSelection}-->
    <b:include src="../canvas/CanvasLayer.tmpl"/>
    <!--{graphViewer}-->
  </div>
