
  <b:resource src="Graph.css" />

  <div class="Basis-Graph">
    <!-- {graphSelection} -->
    <canvas{canvas} class="Basis-Graph-Canvas">
      <div>Canvas doesn't support.</div>
    </canvas>
    <!-- {graphViewer} -->
  </div>
