<b:isolate/>
<b:style src="./app-profile-button.css"/>

<div class="wrapper">
  <div class="error" title="{error}" b:visible="{error}">
    {error}
  </div>
  <span class="button button_{disabled}" event-click="update">
    <span b:hide="{disabled}">Update app profile</span>
    <span b:show="{disabled}">Fetching...</span>
  </span>
</div>
