
  {resource:Button.css}

  <button{buttonElement} class="Basis-Button {selected} {disabled}" disabled="{disabled}" event-click="click">
    <span class="Basis-Button-Back"/>
    <span class="Basis-Button-Caption">
      {caption}
    </span>
  </button>
