
  #Viewer .AttributeList
  {
    color: #333;
  }
  #Viewer .Attribute
  {
    padding: 2px .25em;
    white-space: nowrap;
  }
  #Viewer .AttributeValue
  {
    display: none;
  }
  #Viewer .templater-AttributeValueBinding,
  #Viewer .templater-AttributeClassBinding
  {
    background: #CDEB8B;
    color: #050;
    padding: 2px .2em;
    border-radius: 2px;
    text-shadow: 0 1px rgba(255,255,255,.75);
  }
  #Viewer .Attribute.hasChildren .AttributeValue
  {
    display: inline;
  }
  #Viewer .Attribute.isEvent
  {
    border-radius: 2px;
    background-color: #FE8;
    color: #530;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
  }
  #Viewer .Attribute.isEvent:hover
  {
    background-color: #FFE000;
    color: #000;
  }