
  {resource:attribute.css}

  <span>
    &#32;
    <span class="Attribute {selected} {hasChildren} {isEvent}">
      <span class="AttributeTitle">{name}</span>
      <span class="AttributeValue">
        ="
        <span{childNodesElement} class="AttributeValueList"/>
        "
      </span>
    </span>
  </span>