
  @import 'attribute.css';
  @import 'attribute2.css';

  #Viewer
  {
    overflow: visible;
    font-family: Consolas;
    float: right;
    margin-left: 5px;
    width: 40%;
    min-width: 200px;
    max-width: 50%;
  }
  #Viewer.focus
  {
    border-color: #ACF;
    background: white;
  }

  #Viewer .Basis-Resizer
  {
    position: absolute;
    top: 0;
    left: -8px;
    bottom: 0;
    width: 5px;
  }

  #Viewer .devtools-templateTree,
  #Viewer .devtools-templateNode-Content
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #Viewer .devtools-templateTree
  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
  }

  #Viewer .devtools-templateNode
  {
    position: relative;
    margin: 0;
    padding: 0;
  }

  #Viewer .devtools-templateNode.Text .devtools-templateNode-Caption
  {
    white-space: pre-wrap;
    background: #E8E8E8;
    padding: 2px;
    border-radius: 2px;
  }
  #Viewer .devtools-templateNode.Text.hasRefs .devtools-templateNode-Caption
  {
    background: #CDEB8B;
    color: #050;
    text-shadow: 0 1px rgba(255,255,255,.75);
  }

  #Viewer .devtools-templateNode-Title
  {
    padding: 1px;
    font-size: 90%;
    line-height: 1.6;
    cursor: pointer;
  }

  #Viewer .devtools-templateNode.selected > .devtools-templateNode-Title
  {
    background-color: #DEF;
  }

  #Viewer .devtools-templateNode-Title:hover
  {
    background-color: #EEE;
      -webkit-box-shadow: 0 -1px 3px #AAA;
      -moz-box-shadow: 0 -1px 3px #AAA;
    box-shadow: 0 -1px 3px #AAA;
  }

  #Viewer .devtools-templateNode-Content .devtools-templateNode-Title,
  #Viewer .devtools-templateNode-Content .devtools-templateNode-Content
  {
    margin-left: -375px;
    padding-left: 400px;
  }

  #Viewer .devtools-templateNode-Title:hover + .devtools-templateNode-Content
  {
      -webkit-box-shadow: 0 2px 3px -1px #AAA;
      -moz-box-shadow: 0 2px 3px -1px #AAA;
    box-shadow: 0 2px 3px -1px #AAA;
  }


  #Viewer .devtools-templateNode.Comment > .devtools-templateNode-Title
  {
    color: #444;
  }

  #Viewer .devtools-templateNode-Prefix,
  #Viewer .devtools-templateNode.Tag > .devtools-templateNode-Title > .devtools-templateNode-Caption
  {
    font-weight: bold;
  }
  #Viewer .closeTag
  {
    display: none;
  }
  #Viewer .closeTag.hasChilds
  {
    display: block;
  }


  #Viewer .ReferenceList
  {
    display: inline-block;
  }

  #Viewer .ReferenceList
  {
    margin-left: 3px;
    pad2ding-left: 19px;
    bac2kground: url(img/chain.png) left .2em no-repeat;
    color: #050;
    text-shadow: 0 1px rgba(255,255,255,.75);
  }
  #Viewer .Reference
  {
    border-left: 1px solid #050;
    padding: 2px .35em;
    background-color: #CDEB8B;
  }
  #Viewer .Reference:first-child
  {
    border-left: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  #Viewer .Reference:last-child
  {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }



  #Viewer .Field-Edit
  {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #Viewer .Field-Edit .Basis-Field-Title
  {
    display: none;
  }
  #Viewer .Field-Edit .Basis-Field-Container
  {
    height: 100%;
    padding-right: 1px;
  }
  #Viewer .Field-Edit textarea
  {
    display: block;
    margin: 0;
    padding: 2px;
    height: 100%;
    width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
  }

