
  <li class="devtools-templateNode Tag {selected}" event-click="select" event-dblclick="edit">
    <div class="devtools-templateNode-Title">
      &lt;
      <span class="devtools-templateNode-Caption">{title}</span>
      <!--{refList}-->
      <!--{attributeList}-->
      &gt;
    </div>
    <ul{childNodesElement} class="devtools-templateNode-Content" /> 
    <div class="devtools-templateNode-Title closeTag {hasChilds}">
      &lt;/
      <span class="devtools-templateNode-Caption">{title}</span>
      &gt;
    </div>
  </li>