
  <li class="devtools-templateNode Text {selected} {hasRefs}" event-click="select" event-dblclick="edit">
    <div class="devtools-templateNode-Title">
      <span class="devtools-templateNode-Caption">{value}</span>
    </div>
  </li>
