HTML,
BODY
{
  height: 100%;
  padding: 0;
  margin: 0;

  background: white;
  color: black;
  font-size: small;
  font-family: Tahoma, Verdana, sans-serif;
}

#layout
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}