
  <b:resource src="layout.css" />

  <div id="layout">
    <div id="navAndContentSide">
      <div id="nav">
        nav
      </div>
      <div id="description">
        <!--{toc}-->
        description
        <div style="width: 200%; height: 120%; background: rgba(0,0,0,0.1)"/>
      </div>
    </div>
    <div id="interactiveSide">
      <div id="header">
        Hello world!
      </div>
      <div id="code">
        <textarea id="code-editor" event-keyup="runCode">basis.require("basis.ui.window");
(new basis.ui.window.Window()).open();</textarea>
      </div>
      <div id="preview">
        <iframe{launcher} src="launcher.html"/>
      </div>
    </div>
  </div>