
  <b:resource src="layout.css" />

  <div id="layout">
    <div id="navAndContentSide">
      <div id="nav">
        nav
      </div>
      <div id="description">
        <!--{toc}-->
        description
        <div style="width: 200%; height: 120%; background: rgba(0,0,0,0.1)"/>
      </div>
    </div>
    <div id="interactiveSide">
      <div id="header">
        Hello world!
      </div>
      <div id="code">
        code
      </div>
      <div id="preview">
        preview
      </div>
    </div>
  </div>