
  <b:resource src="app.css"/>

  <div id="page">
    <div id="page-wrapper">
      <div id="sidebar">
        <!--{categoryList}-->
        <!--{tagCloud}-->
        <!--{archiveList}-->
      </div>
      <div{content} id="content">
        <h1>Basis.js blog</h1>
        <!--{stat}-->
        <button event-click="reset">Show all posts</button>
        <!--{paginator}-->
        <!--{postList}-->
      </div>
    </div>
  </div>
