
  .tag-cloud__header
  {
    font-size: 140%;
    background: #2A80EE;
    color: white;
    margin: 0 -0px;
    padding: .2em 10px .3em;
    font-weight: normal;
    font-family: 'Segoe UI', Arial;
  }

  .tag-cloud__content
  {
    text-align: center;
    padding: 1em 0;
  }
