.basisjs-devpanel-ui-view-item__title
{
  padding: 3px 2px 4px 18px;
  position: relative;
  font-size: 12px;
}
.basisjs-devpanel-ui-view-item__title:hover
{
  background: rgba(0,0,0,.1);
  cursor: pointer;
}

.basisjs-devpanel-ui-view-item__expander
{
  display: none;
  position: absolute;
  left: 3px;
  top: 6px;
  width: 7px;
  height: 7px;
  border: 1px solid #AAA;
  background: #CCC;
  border-radius: 2px;
}
.basisjs-devpanel-ui-view-item__expander_nestedViewCount
{
  display: block;
}

.basisjs-devpanel-ui-view-item__satelliteName
{
  display: none;
  padding: 1px 5px 2px;
  margin: 0 1ex 0 -2px;
  background: #AD0;
  border-radius: 3px;
  font-size: 11px;
}
.basisjs-devpanel-ui-view-item__namespace
{
  display: none;
  color: #777;
  font-size: 11px;
}

.basisjs-devpanel-ui-view-item__satelliteName_satelliteName,
.basisjs-devpanel-ui-view-item__namespace_namespace
{
  display: inline;
}

.basisjs-devpanel-ui-view-item__id
{
  color: #069;
  padding-left: 1ex;
}

.basisjs-devpanel-ui-view-item__count
{
  display: none;
  margin-left: 1ex;
  background: #DDD;
  padding: 1px 4px;
  font-size: 11px;
  border-radius: 3px;
}
.basisjs-devpanel-ui-view-item__count_nestedViewCount
{
  display: inline;
}

.basisjs-devpanel-ui-view-item__content
{
  padding-left: 20px;
}
