<p>Для упрощения работы с дочерними узлами используется свойство <i>childClass</i>, в котором задается класс для дочерних узлов. Оно выполняет две функции. Первая функция &mdash; валидация дочерних узлов, они должны быть данного класса или потомка данного класса. Вторая функция &mdash; базовый класс для создания дочернего узла.</p>
<p>Если добавляемое, в качестве дочернего узла, значение не является экземпляром <i>childClass</i>, то</p>
<ul>
  <li>значение является экземпляром <i>basis.data.Object</i> &mdash; будет создан экземпляр <i>childClass</i>, которому будет назначено переданное значение в качестве делегата</li>
  <li>в противном случае, значение будет считать конфигом для <i>childClass</i></li>
</ul>
<p>Поэтому, в качестве значений childNodes или в качестве аргумента функций <i>appendChild</i> и <i>insertBefore</i> можно передавать объект, а не создавать экземпляры явно.</p>
<p>Так же на слайде показано неявное создание класса &mdash; используется механизм авто-расширения.</p>
