
  .Basis-VerticalPanelStack__Content
  {
    overflow: hidden;
    position: relative;
  }
  .Basis-VerticalPanelStack__Content_flexboxSupported
  {
    height: 100%; 
    display: -webkit-box;
    -webkit-box-orient: vertical;    
  }