
  <b:resource src="VerticalPanelStack.css"/>

  <div class="Basis-VerticalPanelStack">
    <div{childNodesElement|ruller} class="Basis-VerticalPanelStack__Content Basis-VerticalPanelStack__Content_{flexboxSupported}">
    </div>
  </div>