
.Devpanel-CultureMenuItem
{
  position: relative;
  padding-left: 2.5em;
}
.Devpanel-CultureMenuItem .flag
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 16px;
  height: 11px;
  background: url(img/flags.png) no-repeat .5em 0;
}

.Devpanel-CultureMenuItem.base .flag
{
  background: url(img/international.png) no-repeat 50% 50% !important;
}