<b:resource src="cultureItem.css"/>

<b:include src="basis.ui.menu.MenuItem" class="Basis-Devpanel-CultureItem">
  <b:replace ref="content">
    <a{content} class="Basis-Menu-Item-Caption">
      <div class="flag" style="background-position: -{spriteX}px -{spriteY}px;"></div>
      <span>
        {caption}
      </span>
    </a>
  </b:replace>
</b:include>
