<b:style src="./cultureItem.css"/>
<b:define name="base" type="bool"/>

<b:include src="app.menu.Item" class="Devpanel-CultureMenuItem {base}">
  <b:replace ref="title">
    <span class="flag" style="background-position: -{spriteX}px -{spriteY}px"/>
    {title}
  </b:replace>
</b:include>
