.Basis-DevPanel
{
  position: fixed;
  z-index: 10001;
  left: 10px;
  top: 10px;
  padding: 1px;

  opacity: 0.5;
  background: #999;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(255,255,255,.75);
  
  font-family: Arial;
  font-size: 12px;
  color: white;
  text-align: center;
  
  cursor: pointer;

    -webkit-transition: box-shadow .15s, background .15s, opacity .15s, border-color .15s;
  transition: box-shadow .15s, background .15s, opacity .15s, border-color .15s;
}

.Basis-DevPanel:hover,
.Basis-DevPanel_activated,
.devpanel-inspectMode .Basis-DevPanel
{
  opacity: 1;
  box-shadow:
    0 0 7px 0 rgba(0, 0, 0, .3),
    0 0 0px 1px rgba(255, 255, 255, 0.5) inset;
}

.Basis-DevPanel_isOnline
{
  background: #4B77CC;
  border-color: #4B77CC;
}

.devpanel-inspectMode .Basis-DevPanel
{
  pointer-events: none;
}

.Basis-DevPanel-Section
{
  position: relative;
  display: inline-block;
}

.Basis-DevPanel-Button
{
  border-left: 1px solid rgba(255, 255, 255, .4);
  border-right: 1px solid rgba(255, 255, 255, .4);
  margin-left: -1px;
  display: inline-block;
  padding: 5px 10px 4px;
  background:  no-repeat center center;
}
.Basis-DevPanel-Button:hover
{
  background-color: rgba(255, 255, 255, 0.2);
}
.Basis-DevPanel-Button:last-child
{
  border-right: none;
}

.Basis-DevPanel-Button.template
{
  background-image: url(img/inspect-template.png); 
}
.Basis-DevPanel-Button.l10n
{
  background-image: url(img/inspect-l10n.png);
}
.Basis-DevPanel-Button.fileInspector
{
  background-image: url(img/folder.png);
}

.Basis-DevPanel-DragTrigger
{
  display: inline-block;
  width: 11px;
  height: 100%;
  cursor: move;
  background: url(img/drag.png) no-repeat 2px center;
}
