<b:resource src="panel.css"/>
<b:define name="activated" type="bool"/>
<b:define name="base" type="bool"/>

<div class="Basis-DevPanel {activated}" event-click="showMenu" event-mousemove="storePosition">
  <div{dragElement} class="Basis-DevPanel-DragTrigger">&nbsp;</div>  
  <div class="Basis-DevPanel-Section Basis-DevPanel-Section-Template">
    <div class="Basis-DevPanel-Button template" event-mousedown="inspectTemplate">&nbsp;</div>
    <div{themeButton} class="Basis-DevPanel-Button theme" event-click="showThemes">
      <span>{themeName}</span>
    </div>
    <!--{themeList}-->
  </div>
  <div class="Basis-DevPanel-Section Basis-DevPanel-Section-l10n">  
    <div class="Basis-DevPanel-Button l10n" event-mousedown="inspectl10n">&nbsp;</div>
    <div{cultureButton} class="Basis-DevPanel-Button culture" event-click="showCultures">
      <span>{cultureName}</span>
    </div>
    <!--{cultureList}-->
  </div>
  <div class="Basis-DevPanel-Section">
    <div class="Basis-DevPanel-Button" event-mousedown="inspectHeat">Heat map</div>
  </div>
  <!-- <div class="Basis-DevPanel-Section Basis-DevPanel-Section-FileInspector">
    <div class="Basis-DevPanel-Button fileInspector" event-click="inspectFile">&nbsp;</div>
  </div> -->
</div>
