.Basis-DevPanel
{
  position: fixed;
  left: 10px;
  top: 10px;
  /*padding: 10px 0;*/
  /*width: 40px;*/
  display: inline-block;

  z-index: 10001;
  
  background: #4B77CC;
  border: 1px solid #4B77CC;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0, .3), 0 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  
  font-family: Arial;
  color: white;
  text-align: center;
  
  cursor: pointer;
  
  padding: 1px;
  background: -webkit-linear-gradient(top, #89ACF0, #4B77CC);

  font-size: 12px;
}

.Basis-DevPanel:hover,
.Basis-DevPanel.activated,
.devpanel-inspectMode .Basis-DevPanel
{
  opacity: 1;
}

.devpanel-inspectMode .Basis-DevPanel
{
  pointer-events: none;
}

.Basis-DevPanel-Section
{
  position: relative;
  display: inline-block;
}

.Basis-DevPanel-Button
{
  border-left: 1px solid rgba(255, 255, 255, .4);
  border-right: 1px solid rgba(255, 255, 255, .4);
  margin-left: -1px;
  display: inline-block;
  padding: 5px 10px 4px;
  background:  no-repeat center center;
}
.Basis-DevPanel-Button:hover
{
  background-color: rgba(120, 161, 240, 0.8);
}
.Basis-DevPanel-Button:last-child
{
  border-right: none;
}

.Basis-DevPanel-Button.template
{
  background-image: url(img/inspect-template.png); 
}
.Basis-DevPanel-Button.l10n
{
  background-image: url(img/inspect-l10n.png);
}
.Basis-DevPanel-Button.fileInspector
{
  background-image: url(img/folder.png);
}


.Basis-DevPanel-DragTrigger
{
  display: inline-block;
  width: 11px;
  height: 100%;
  cursor: move;
  background: url(img/drag.png) no-repeat 2px center;
}

