<b:style src="./code.css"/>
<b:style src="./template.css"/>
<b:isolate/>

<div class="template">
  <div class="code">
    <div class="code-title">{url}</div>
    <span{content} style="background: {color}"/>
  </div>
  <div{childNodesElement} class="nested"/>
</div>
