<b:style src="./code.css"/>
<b:style src="./template.css"/>
<b:isolate/>
<b:define name="hasUrl" from="url" type="bool"/>

<div class="template">
  <div class="code" event-click="stop-propagation">
    <div class="warnings" b:show="{warningCount}">{warningCount}</div>
    <div class="code-title code-title__{hasUrl}" event-click="openFile">{caption}</div>
    <span{content}/>
  </div>
  <div{childNodesElement} class="nested"/>
</div>
