<footer class="footer">
  <span class="todo-count">
    <strong>{left}</strong> items left
  </span>
  <ul class="filters">
    <!--{childNodesHere}-->
  </ul>
  <button class="clear-completed" event-click="clear">Clear completed</button>
</footer>
