.Devpanel-MenuItem
{
  min-width: 120px;
  padding: 0.5em;
  background: #E0E0E0;
  margin: 1px;
}
.Devpanel-MenuItem.selected
{
  background: #4B77CC !important;
  cursor: default;
  color: white;
}
.Devpanel-MenuItem:hover
{
  background: #89ACF0;
  color: white;
}
