
  <b:resource src="PageSlider.css"/>
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <div class="Basis-PageControl Basis-PageSlider {selected} {disabled}">
    <div{childNodesElement} class="Basis-PageSlider-Content"/>
  </div>
