
  <div class="binding {used} binding__{expanded}">
    <div class="binding-header" event-click="toggle">{name} on {events}</div>
    <div class="binding-content">
      <!--{source}-->
    </div>
  </div>
