  
  <b:resource src="templatePanel.css"/>

  <div class="templatePanel {isExternalFile}">
    <a class="templateFile" href="source_viewer.html?file={externalFileUrl}" target="_blank">{externalFileCaption}</a>
    <div{childNodesElement} class="templateHtml"/>
    <div>
      <!--{bindings}-->
      <!--{actions}-->
    </div>
  </div>
