<p>Поведение того, что должно происходить в случае, если вставляемое в качестве дочернего узла значение не является экземпляром <i>childClass</i> определяется методом <i>childFactory</i>. Мы говорили, что экземпляр <i>childClass</i>. Это происходит потому что у <i>basis.ui.Node</i> этот метод определен так:</p>
<pre><b:text>
basis.ui.Node.prototype.childFactory = function(config){
  return new this.childClass(config);
};
</b:text></pre>
<p>Но это поведение можно переопределить. Это удобно, когда дочерние узлы могут быть разных классов. В этом случае можно переопределить <i>childFactory</i>, задав необходимую логику создания дочернего элемента.</p>
