<b:include src="basis.ui.tree.Node">
  <b:replace ref="element">
    <li class="Basis-TreeNode App-DocTreeNode App-DocSearchTreeNode App-DocSearchTreeNode_{unmatched}">
      <div{content} class="Basis-TreeNode-Title {selected} Type-{kind}">
        <span class="Basis-TreeNode-Caption Basis-TreeNode-Caption__{disabled} Basis-TreeNode-Caption__{selected}" event-click="select">
          <span class="namespace">{namespace}</span>
          <span class="label">{title}<!--{args}--></span>
        </span>
      </div>
    </li>
  </b:replace>
</b:include>
<b:resource src="docTreeNode.css"/>
<b:resource src="docSearchTreeNode.css"/>
