<b:style src="template_hintPopup.css"/>
<b:define name="name" type="bool"/>

<div id="devpanel-l10n-templateHintPopup">
  <span class="devpanel-l10n-templateHintPopup__name devpanel-l10n-templateHintPopup__name_{name}">
    <span class="devpanel-l10n-templateHintPopup__propertyTitle">Reference: </span>
    {name}
  </span>
  <span class="devpanel-l10n-templateHintPopup__source">
    <span class="devpanel-l10n-templateHintPopup__propertyTitle">Source: </span>
    {source}
  </span>
  <span class="devpanel-l10n-templateHintPopup__instance">
    <span class="devpanel-l10n-templateHintPopup__propertyTitle">Instance: </span>
    {instanceName}
  </span>
  <span class="devpanel-l10n-templateHintPopup__rootNodeSelector">
    <span class="devpanel-l10n-templateHintPopup__propertyTitle">Root node: </span>
    {rootNodeSelector}
  </span>
</div>