<p>Взаимодействие между различными экземплярами <i>basis.ui.Node</i> происходит на уровне данных. Так как <i>basis.ui.Node</i> наследуется от <i>basis.data.Object</i>, он поддерживает делегирование и может выступать в качестве делегата (выполнять роль модели).</p>