  
  <span>
    <span class="Doc-TemplateView-Node Doc-TemplateView-Attribute Doc-TemplateView-Attribute__{isEvent} {hasRefs}">
      <span>{nodeName}<!--{refList}-->="<!--{childNodesHere}-->"</span>
    </span>
  </span>