  #Content .viewTemplate .Basis-Tree
  {
    clear: both;
    padding-left: 5px;
  }
  #Content .viewTemplate .Basis-Tree UL
  {
    margin: .2em 0;
  }

  #Content .viewTemplate .refList,
  #Content .viewTemplate .ref
  {
    display: none;
  }

  .Doc-TemplateView-Node
  {
    margin: 0;
    line-height: 1.4em;
  }
  .Doc-TemplateView-NodeContent
  {
    padding-left: 20px;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element.hasRefs
  {
    border: 2px solid #CEE1EB;
    margin: 1.4em 4px .2em -4px;
    padding-left: 2px;
    position: relative;
      -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
  }
  #Content .viewTemplate .show-realReferences .Doc-TemplateView-Element.hasRefs > SPAN .refList
  {
    display: inline;
    background: #CEE1EB;
    font-size: 85%;
    padding: 1px 1px 2px 1px;
    margin-left: 1px;
    position: relative;
    top: -1px;
      -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #Content .viewTemplate .refList B
  {
    display: none;
  }
  #Content .viewTemplate .show-realReferences .refList B
  {
    display: inline;
    font-weight: normal;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element.hasRefs > SPAN .refList
  {
    line-height: 1em;
    display: block;
    position: absolute;
    top: -1em;
    margin-top: -7px;
    margin-left: -4px;
    padding: 3px 1ex 2px;
    font-size: 85%;
      -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: #CEE1EB;
  }
  #Content .viewTemplate .Doc-TemplateView-Element .Doc-TemplateView-Attribute
  {
    margin-left: 1ex;
    position: relative;
    white-space: nowrap;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element .Doc-TemplateView-Attribute.hasRefs
  {
    border: 2px solid #E1CEEB;
    display: inline-block;
    margin-top: 1.4em;
      -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    line-height: 1.3;
    padding: 1px 2px
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element .Doc-TemplateView-Attribute.hasRefs .refList
  {
    line-height: 1em;
    display: block;
    position: absolute;
    top: -1em;
    margin-top: -6px;
    margin-left: -4px;
    padding: 3px 1ex 2px;
    font-size: 85%;
      -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: #E1CEEB;
  }
  #Content .viewTemplate .show-realReferences .Doc-TemplateView-Element .Doc-TemplateView-Attribute SPAN .refList,
  #Content .viewTemplate .show-references .Doc-TemplateView-Element .Doc-TemplateView-Attribute SPAN .refList
  {
    display: none;
  }
  #Content .viewTemplate .show-realReferences .Doc-TemplateView-Element .Doc-TemplateView-Attribute.hasRefs SPAN .refList
  {
    display: inline;
  }
  #Content .viewTemplate .Doc-TemplateView-Attribute .refList
  {
    background: #E1CEEB !important;
  }
  #Content .viewTemplate .ref
  {
    display: inline;
    padding: 0px 1ex;
  }

  #Content .viewTemplate .Doc-TemplateView-Text
  {
    display: inline;
    padding: 1px 0px 2px 0px;
    font-size: 85%;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  #Content .viewTemplate .Doc-TemplateView-Text.hasRefs
  {
    background: #CDEB8B;
    color: #85995A;
    margin: 0 2px 0 1px;
    padding-left: 4px;
    padding-right: 4px;
  }
  #Content .viewTemplate .Doc-TemplateView-Text.hasRefs .refList
  {
    display: inline;
    color: #006600;
  }
  #Content .viewTemplate .Doc-TemplateView-Text.hasRefs .ref
  {
    padding: 0;
  }

  #Content .viewTemplate .Doc-TemplateView-Comment
  {
    display: inline;
    padding: 1px 0px 2px 0px;
    font-size: 85%;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  #Content .viewTemplate .Doc-TemplateView-Comment.hasRefs
  {
    background: #FFF0B0;
    color: #996600;
    margin-left: -4px;
    padding-left: 4px;
    padding-right: 4px;
  }
  #Content .viewTemplate .Doc-TemplateView-Comment.hasRefs .ref
  {
    display: none;
  }

  .bindingList,
  .actionsList
  {
    float: left;
    margin-left: 1em;
    min-width: 20em;
  }
  .bindingList .binding,
  .actionsList .action
  {
    margin: 1px;
    border-radius: 3px;
    background: #E0E0E0;
    opacity: .33;
    padding: 2px 4px;
  }
  .bindingList .binding.used
  {
    background: #88CC66;
    opacity: 1;
  }
  .actionsList .action.used
  {
    background: #88CC66;
    opacity: 1;
  }
  .bindingList_header,
  .actionsList_header
  {
    font-size: 85%;
  }

  .templatePanel
  {
    overflow: hidden;
    clear: both;
    padding-left: 1em;
  }
  .templateHtml
  {
    float: left;
  }