  #Content .viewTemplate .Basis-Tree
  {
    clear: both;
    padding-left: 5px;
  }
  #Content .viewTemplate .Basis-Tree UL
  {
    margin: .2em 0;
  }

  #Content .viewTemplate .refList,
  #Content .viewTemplate .ref
  {
    display: none;
  }

  .Doc-TemplateView-Node
  {
    margin: 0;
    line-height: 1.4em;
  }
  .Doc-TemplateView-NodeContent
  {
    padding-left: 20px;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element.hasRefs
  {
    border: 2px solid #CEE1EB;
    margin: 1.4em 2px .2em -4px;
    padding-left: 2px;
    padding-bottom: 1px;
    position: relative;
      -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
  }
  #Content .viewTemplate .show-realReferences .Doc-TemplateView-Element.hasRefs > SPAN .refList
  {
    white-space: nowrap;
    display: inline;
    background: #CEE1EB;
    font-size: 90%;
    padding: 1px 2px 2px;
    margin-left: 1px;
    position: relative;
      -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #Content .viewTemplate .refList B
  {
    display: none;
  }
  #Content .viewTemplate .show-realReferences .refList B
  {
    display: inline;
    font-weight: normal;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element.hasRefs > SPAN .refList
  {
    white-space: nowrap;
    line-height: 1em;
    display: block;
    position: absolute;
    top: -1em;
    margin-top: -7px;
    margin-left: -4px;
    padding: 3px 1ex 2px;
    font-size: 90%;
      -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: #CEE1EB;
  }
  #Content .viewTemplate .Doc-TemplateView-Element .Doc-TemplateView-Attribute
  {
    /*margin-left: 1ex;*/
    position: relative;
    white-space: nowrap;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element .Doc-TemplateView-Attribute.hasRefs
  {
    border: 2px solid #CDEB8B;
    display: inline-block;
    margin-top: 1.4em;
      -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    line-height: 1.3;
    padding: 1px 2px 2px;
  }
  #Content .viewTemplate .show-references .Doc-TemplateView-Element .Doc-TemplateView-Attribute.hasRefs .refList
  {
    line-height: 1em;
    display: block;
    position: absolute;
    top: -1em;
    margin-top: -6px;
    margin-left: -4px;
    padding: 3px 1ex 2px;
    font-size: 85%;
      -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: #CDEB8B;
  }
  #Content .viewTemplate .show-realReferences .Doc-TemplateView-Element .Doc-TemplateView-Attribute SPAN .refList,
  #Content .viewTemplate .show-references .Doc-TemplateView-Element .Doc-TemplateView-Attribute SPAN .refList
  {
    display: none;
  }
  #Content .viewTemplate .show-realReferences .Doc-TemplateView-Element .Doc-TemplateView-Attribute.hasRefs SPAN .refList
  {
    display: inline;
  }
  #Content .viewTemplate .Doc-TemplateView-Attribute .refList
  {
    background: #CDEB8B !important;
  }
  #Content .viewTemplate .ref
  {
    display: inline;
    padding: 0px 1ex;
  }

  #Content .viewTemplate .Doc-TemplateView-Text
  {
    display: inline;
    padding: 1px 2px 2px 2px;
    font-size: 90%;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 2px;
  }
  #Content .viewTemplate .Doc-TemplateView-Text.hasRefs
  {
    background: #CDEB8B;
    color: #006600;
    m1argin: 0 2px 0 1px;
  }

  #Content .viewTemplate .Doc-TemplateView-Comment
  {
    display: inline;
    padding: 1px 2px 2px 2px;
    font-size: 90%;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 2px;
  }
  #Content .viewTemplate .Doc-TemplateView-Comment.hasRefs
  {
    background: #FFF0B0;
    color: #996600;
  }
  #Content .viewTemplate .Doc-TemplateView-Comment.hasRefs .ref
  {
    display: none;
  }

  .bindingList
  {
    float: left;
    margin-right: 1em;
    min-width: 25em;
    width: 50%;
  }
  .actionsList
  {
    overflow: hidden;
  }
  .bindingList .binding,
  .actionsList .action
  {
    margin: 1px 0;
    border-radius: 3px;
    background: #F0F0F0;
    color: #888;
    padding: 2px 4px;
  }
  .bindingList .binding.used
  {
    background: #CDEB8B;
    color: black;
  }
  .actionsList .action.used
  {
    background: #E1CEEB;
    color: black;
  }
  .bindingList_header,
  .actionsList_header
  {
    font-size: 85%;
  }

  .binding-header,
  .action-header
  {
    padding-left: 16px;
    background: url(img/plus.gif) no-repeat 2px center;
    background-image: url(data:image/gif;base64,R0lGODlhCQAJAMQVAPn6+s7Oz8/OzuDg3+Df3/Hy8s/Pzvn5+vLx8tfW1s7Ozvr6+c7Pzunp6fn6+fLy8t/f39bW1jAwMP///01NTf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABUALAAAAAAJAAkAAAUwYEWNJCVOaDqNi3NIzgKMSPFID/KMjeT7jREBMpBAjqNIJCFJKEcKhiEgiJpKpEoIADs=);
    cursor: pointer;
  }
  .binding__expanded .binding-header,
  .action__expanded .action-header
  {
    background-image: url(img/minus.gif);
    background-image: url(data:image/gif;base64,R0lGODlhCQAJAMQXAM/PzvHy8vr6+uDf3/n6+vn5+uDg387Oz9fW18/OzvLx8tfW1s7Ozvr6+c7Pzunp6fn6+fLy8tbW1jAwMN/f3////01NTf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABcALAAAAAAJAAkAAAUv4GWNpCVWaFqNDVQIUEOMShDdSjQ+U98/owHFQClSRhLJArFIjhgOwCEBNZVIlxAAOw==);
  }
  .bindingList .Basis-SyntaxHighlight,
  .actionsList .Basis-SyntaxHighlight
  {
    background: white;
    margin: 2px -3px -1px;
    color: black;
  }
  .bindingList .Basis-SyntaxHighlight .lineContent,
  .actionsList .Basis-SyntaxHighlight .lineContent
  {
    border: none;
  }

  .templatePanel
  {
    overflow: hidden;
    clear: both;
    margin-top: 1.5em;
  }
  .show-references .templatePanel
  {
    margin-top: 0;
  }
  .templateHtml
  {
    font-family: Consolas;
    color: #333;
    margin: 0 auto 1em;
    border-radius: 3px;
    background: #F8F8F8;
    padding: 5px;
  }
  .show-references .templateHtml
  {
    background: white;
    margin-right: -6px;
  }

  .Doc-TemplateView-Attribute-Binding,
  .Doc-TemplateView-Attribute-ClassBinding
  {
    background: #CDEB8B;
    color: #006600;
    padding: 1px 2px 2px;
    font-size: 90%;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .Doc-TemplateView-Attribute-ClassBinding
  {
    margin: 0 0 0 1ex;
  }
  .Doc-TemplateView-Attribute__isEvent
  {
    background: #E1CEEB;
    font-size: 90%;
    padding: 1px 2px 2px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    border-radius: 3px;
  }