<b:style src="fileInspector.css"/>
<b:define name="opened" type="bool"/>

<div class="Devpanel-FileInspector Devpanel-FileInspector_{opened}" event-click="close">
  <div class="Devpanel-FileInspector-Holder" event-click="kill">
    <div class="Devpanel-FileInspector-Header">
      <div class="Devpanel-FileInspector-Title">App file structure</div>
      <div class="Devpanel-FileInspector-CloseButton" event-click="close"/>
    </div>
    <div class="Devpanel-FileInspector-Container">
      <div{fileList} class="Devpanel-FileInspector-FileTreeContainer" >
        <!--{fileTree}-->
      </div>
      <div class="Devpanel-FileInspector-FileViewContainer">
        <!--{fileView}-->
      </div>
    </div>
  </div>
</div>