<b:define name="disabled" type="bool"/>
<b:define name="validity" type="enum" values="indeterminate valid invalid" default="indeterminate"/>

<div class="Basis-Field Basis-Field-Checkbox {disabled} {validity}">
  <div{content} class="Basis-Field-Container">
    <label>
      <b:include src="basis.ui.field.native.checkbox"/>
      <span>{titleText}</span>
    </label>
  </div>
</div>
