<b:resource src="Combobox.css"/>
<b:define name="disabled" type="bool"/>
<b:define name="opened" type="bool"/>

<b:include src="basis.ui.field.Field">
  <b:replace ref="fieldPlace">
    <span{field|focus} class="Basis-DropdownList Basis-DropdownList-{opened} {disabled}"
       event-click="togglePopup"
       event-keyup="keyup"
       event-keydown="keydown"
       event-keypressed="keypressed"
       event-focus="focus"
       event-blur="blur"
       tabindex="0"
      >
      <span class="Basis-DropdownList-Caption">
        <!--{captionItem}-->
      </span>
      <span class="Basis-DropdownList-Trigger"/>
      <!--{hiddenField}-->
    </span>
    <div{content|childNodesElement} class="Basis-DropdownList-PopupContent" />
  </b:replace>
</b:include>