
  <b:resource src="field.css"/>

  <div{sampleContainer} class="Basis-Field {disabled} Basis-Field__{validity}" title="{error}">
    <div class="Basis-Field-Title">
      <label>
        <span{title}>{titleText}</span>
      </label>
    </div>
    <div{content} class="Basis-Field-Container">
      <!--{fieldPlace}-->
    </div>
    <!--{example}-->
  </div>
