
  .Basis-Field-Container
  {
    _position: relative;
    _zoom: 1;
    _width: 100%;
  }

  .Basis-Field LABEL
  {
    display: block;
  }

  .Basis-Field TEXTAREA,
  .Basis-Field .native-type-text,
  .Basis-Field .native-type-password
  {
    border: 1px solid #808080;
    background-color: white;
    padding: 2px;
  }
  .Basis-Field__invalid TEXTAREA,
  .Basis-Field__invalid .native-type-text,
  .Basis-Field__invalid .native-type-password
  {
    border-color: #DD0000;
  }

  .Basis-Field-Sample
  {
    clear: both;
    display: block;
    font-size: 85%;
    color: #666;
    padding: .2em 0 .4em;
  }

  .Basis-Field-LengthCounter
  {
    text-align: right;
    font-size: 80%;
    color: #333;
  }

  /* Checkbox, Radio */

  .native-type-checkbox,
  .native-type-radio
  {
    margin: 0 0.5ex 0 0;
    display: inline-block;
    vertical-align: middle;
  }

  .Basis-CheckGroup LABEL SPAN,
  .Basis-RadioGroup LABEL SPAN,
  .Basis-Field-Checkbox LABEL SPAN
  {
    display: inline-block;
    vertical-align: middle;
  }
