<textarea{field|focus}
  name="{name}"
  value="{value}"
  readonly="{readonly}"
  disabled="{disabled}"
  placeholder="{placeholder}"

  event-keydown="keydown"
  event-keyup="keyup updateSymbolsLeft"
  event-keypress="keypress"
  event-focus="focus"
  event-blur="blur"
  event-change="change updateSymbolsLeft"
  event-input="input updateSymbolsLeft"
/>
