<input{field|focus}
  type="checkbox"
  class="native-type-checkbox"
  checked="{checked}"
  value="{value}"
  readonly="{readonly}"
  disabled="{disabled}"
  event-focus="focus"
  event-blur="blur"
  event-change="change"
  event-keydown="keydown"
  event-keyup="keyup"
  event-keypress="keypress"
/>
