<input{field|focus}
  type="password"
  class="native-type-password"

  name="{name}"
  value="{value}"
  readonly="{readonly}"
  disabled="{disabled}"
  maxlength="{maxlength}"
  placeholder="{placeholder}"

  event-keydown="keydown"
  event-keyup="keyup"
  event-keypress="keypress"
  event-focus="focus"
  event-blur="blur"
  event-change="change"
  event-input="input"
/>
