<input{field|focus}
  type="radio"
  class="native-type-radio"

  name="{name}"
  value="{value}"
  disabled="{disabled}"
  checked="{checked}"

  event-focus="focus"
  event-blur="blur"
  event-change="change"
  event-keydown="keydown"
  event-keyup="keyup"
  event-keypress="keypress"
/>
