
  <b:define name="selected" type="bool"/>
  <b:define name="disabled" type="bool"/>

  <label class="Basis-RadioGroup-Item {selected} {disabled}" event-click="select"> 
    <b:include src="basis.ui.field.native.radio"/>
    <span{content}>{title}</span>
  </label>
